<form>
	<fieldset>
    	<ul class="filterList">
        	<li>
            	<label for="periodoInicial">Período</label>
              	<ul>
                	<li>
                    	<input type="text" class="disabled form-control"
							datepicker-popup="{{format}}" ng-model="dataInicial" is-open="openFirstFinanceiro"
							datepicker-options="dateOptions" ng-required="true" ng-change="changeInitialDate(dataInicial)"
							close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirstFinanceiro = true"/>
                  	</li>
                  	<li>
                    	<label for="">Até</label>
                    	<input type="text" class="disabled form-control"
							datepicker-popup="{{format}}" ng-model="dataFinal" is-open="openLastFinanceiro"
							datepicker-options="dateOptions" ng-required="true" ng-change="changeFinalDate(dataFinal)"
							close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLastFinanceiro = true"/>
                  	</li>
                  	<br />
                  	<li style="margin-top:37px;">
          				<label for="opcoesRelatorios" style="width:300px!important;padding-left:20px!important;">Opções de Relatórios</label>
          				<br />
          				<ul style="margin-top:-10px!important;">
            				<li>
              					<input type="radio" ng-model="opcaoRelatorioFinanceiro" value="1" />Previsão de Recebimentos
              				</li>
          				</ul>
        	</li>
      </ul>
    </li>
    <br />
  </ul>
  <!-- filtro -->
  <a class="botaoVerMais" href="javascript:void(0);" onclick="javascript:toggle();">Mais Filtros</a>
      <div class="hiddenContent relatorioFilter prevFilter advancedFilterHiddenContent"> <span>
        <ul>
          <li class="grandChild halfWidthList relatorioLojaFilter">
            <label for="buscaTerminal">Loja</label>
            <input id="buscaTerminal" name="buscaSettlement" type="text" placeholder="{{getPlaceholder(settlementsSelected)}}"
				ng-model="settlement" typeahead-append-to-body="true"
				typeahead-on-select="addSettlementsSearch(settlement)"
				typeahead="item as item.name for item in getSettlements()"/>
            <ul ng-repeat="item in settlementsSelected">
              <li>
                <h4>{{item.name}}, {{item.cnpj}}</h4>
                <a href="javascript:void(0);" ng-click="removeSettlementsSearch(item)">Fechar</a></li>
            </ul>
          </li>
        </ul>
        </span> <br />
        <ul class="grandChild">
          <li class="bandeiraFilter">
            <label for="naturezaOperadora">Operadora</label>
            <input id="naturezaOperadora" name="naturezaOperadora" type="text" placeholder="{{getPlaceholder(acquirersSelected)}}"
				ng-model="acquirer" typeahead-append-to-body="true"
				typeahead-on-select="addAcquirerSearch(acquirer)"
				typeahead="item as item.name for item in getAcquirers() | filter:$viewValue"/>
            <ul ng-repeat="item in acquirersSelected">
              <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeAcquirerSearch(item)">Fechar</a></li>
            </ul>
          </li>
          <li class="bandeiraFilter">
            <label for="naturezaBandeira">Bandeira</label>
            <input id="naturezaBandeira" name="naturezaBandeira" type="text" placeholder="{{getPlaceholder(brandsSelected)}}"
				ng-model="brand" typeahead-append-to-body="true"
				typeahead-on-select="addBrandsSearch(brand)"
				typeahead="item as item.name for item in getBrands() | filter:$viewValue"/>
            <ul ng-repeat="item in brandsSelected">
              <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeBrandsSearch(item)">Fechar</a></li>
            </ul>
          </li>
          <li class="bandeiraFilter">
            <label for="naturezaProduto">Produto</label>
            <input id="naturezaProduto" name="naturezaProduto" type="text" placeholder="{{getPlaceholder(productsSelected)}}"
				ng-model="product" typeahead-append-to-body="true"
				typeahead-on-select="addProductsSearch(product)"
				typeahead="item as item.name for item in getProducts() | filter:$viewValue"/>
            <ul ng-repeat="item in productsSelected">
              <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeProductsSearch(item)">Fechar</a></li>
            </ul>
          </li>
        </ul>
        <br />
      </div>
    </fieldset>
    <button id="limpar" data-ng-click="clearAdvancedFilterFinanceiro()">limpar</button>
    <button id="pesquisar" data-ng-click="pesquisarFinanceiro()">pesquisar</button>
    <br/>
  </form>
