<div class="tabelaDetalhamentoModal gestaoModal previsaoRecebimentosModal" id="detalheVendasTour">
	<div class="modal-header">
    	<h3>DETALHE DAS VENDAS</h3>
		<h4>{{acquirerSelected}}</b></h4>
		<button class="icon-close" ng-click="cancel()"></button>
    </div>
    <div class="modal-body">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th>
						DATA DO RECEBIMENTO
						<img id="expectedDate" src="app/img/default.png" data-ng-click="orderColumn('expectedDate')"/>
					</th>
					<th>
						NSU
						<img id="nsu" src="app/img/default.png" data-ng-click="orderColumn('nsu')"/>
					</th>
					<th>
						AUTORIZAÇÃO
						<img id="authorization" src="app/img/default.png" data-ng-click="orderColumn('authorization')"/>
					</th>
					<th>
						TID
						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
					</th>
					<th>
						PARCELA
						<img id="installment" src="app/img/default.png" data-ng-click="orderColumn('installment')"/>
					</th>
					<th>
						CHAVE ERP
						<img id="erpId" src="app/img/default.png" data-ng-click="orderColumn('erpId')"/>
					</th>
					<th>
						VALOR LÍQUIDO
						<img id="net" src="app/img/default.png" data-ng-click="orderColumn('net')"/>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="parcela in parcelas">
					<td>{{parcela.expectedDate | date:'dd/MM/yyyy'}}</td>
                	<td>{{parcela.nsu}}</td>
                	<td>{{parcela.authorization}}</td>
                	<td>{{parcela.tid}}</td>
                	<td>{{parcela.installment}}</td>
                	<td>{{parcela.erpId}}</td>
                	<td><i ng-bind-html='currencySymbol'></i> {{parcela.net | currency:''}}</td>  
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">TOTAL</td>
					<td><i ng-bind-html='currencySymbol'></i> {{totalAmountModal | currency:''}}</td>
				</tr>
			</tfoot>
		</table>
	</div>
    <div class="modal-footer">
		<ul class="archives">
			<li class="pdf"><a href="javascript:void(0);" data-ng-click="gerarPrevisaoRecebimentosModal('PDF')"></a></li>
			<li class="xls"><a href="javascript:void(0);" data-ng-click="gerarPrevisaoRecebimentosModal('XLS')"></a></li>
		</ul>

		<pagination total-items="totalItens" ng-model="currentPage" ng-change="pageChanged()"
					max-size="maxSize"  items-per-page="totalItensPage" rotate="false"
					class="pagination-sm" boundary-links="true"  
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
		</pagination>
		<div class="select">
		<select ng-model="totalItensPage" ng-change="alterTotalItensPage()">
			<option value="10" selected>10</option>
			<option value="20">20</option>
			<option value="50">50</option>
        </select>		
		</div>
	</div>	
	</div>