<div class="container box" ng-repeat="result in resultModel">
    <div class="panel panel-success">
        <div class="panel-heading">
            {{result.acquirer.name}}
            <span>valor total: R$ {{ result.transactionsModel.totalAmount | currency: ""}}</span>
        </div>
        <div class="panel-body">
            <table class="table" ng-if="result.transactionsModel.transactions">
                <thead>
                <tr>
                    <th class="checkbox-header">
                        <div class="checkbox">
                            <div class="checkbox-left">
                                <input type="checkbox" id="checkbox-reconcile-all" class="checkbox" ng-checked="result.transactionsModel.allChecked" ng-click="selectAll(result.transactionsModel)">
                                <label for="checkbox-reconcile-all"></label>
                            </div>
                        </div>
                    </th>
                    <th>lançamentos</th>
                    <th>valor bruto (R$)</th>
                    <th>quantidade</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in result.transactionsModel.transactions">
                    <th scope="row">
                        <div class="checkbox">
                            <div class="checkbox-left">
                                <input type="checkbox" id="checkbox-reconcile-{{$index + 1}}" class="checkbox" ng-checked="result.transactionsModel.checks[transaction.cardProduct.id]" ng-click="selectSingle(result.transactionsModel, transaction)">
                                <label for="checkbox-reconcile-{{$index + 1}}"></label>
                            </div>
                        </div>
                    </th>
                    <td>{{transaction.cardProduct.name}}</td>
                    <td>{{transaction.amount | currency: ''}}</td>
                    <td>{{transaction.quantity}} vendas</td>
                    <td><button class="btn-link" ng-click="onClick()">detalhes</button></td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-offset-9 col-md-3 reconcile-button">
                <input type="submit" value="conciliar {{result.transactionsModel.count}} vendas" class="btn btn-primary btn-block" ng-href='#here' ng-click="getReceipt()" />
            </div>
        </div>
    </div>
    <div class="panel panel-secondary" ng-if="result.unprocessedModel">
        <div class="panel-heading">
            vendas não processadas
            <span>valor total: R$ {{ result.unprocessedModel.totalAmount | currency: ""}}</span>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th class="checkbox-header">
                        <div class="checkbox">
                            <div class="checkbox-left">
                                <input type="checkbox" id="checkbox-unprocessed-all" class="checkbox" ng-checked="result.unprocessedModel.allChecked" ng-click="selectAll(result.unprocessedModel)">
                                <label for="checkbox-unprocessed-all"></label>
                            </div>
                        </div>
                    </th>
                    <th>lançamentos</th>
                    <th>valor bruto (R$)</th>
                    <th>quantidade</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in result.unprocessedModel.transactions">
                    <th scope="row">
                        <div class="checkbox">
                            <div class="checkbox-left">
                                <input class="checkbox" id="checkbox-unprocessed-{{$index + 1}}" class="checkbox" type="checkbox" ng-checked="result.unprocessedModel.checks[transaction.cardProduct.id]" ng-click="selectSingle(result.unprocessedModel, transaction)">
                                <label for="checkbox-unprocessed-{{$index + 1}}"></label>
                            </div>
                        </div>
                    </th>
                    <td>{{transaction.cardProduct.name}}</td>
                    <td>{{transaction.amount | currency: ''}}</td>
                    <td>{{transaction.quantity}} vendas</td>
                    <td><button class="btn-link" ng-click="onClick()">detalhes</button></td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-offset-9 col-md-3 reconcile-button">
                <input type="submit" value="excluir vendas não processadas" class="btn btn-primary btn-block" ng-href='#here' ng-click="getReceipt()" />
            </div>
        </div>
    </div>
</div>