<ul>
  <li ng-class="{'active': exibitionMode == 1}"><a data-ng-click="setExibitionMode(1)">Operadora</a></li>
  <li ng-class="{'active': exibitionMode == 2}"><a data-ng-click="setExibitionMode(2)">Bandeira</a></li>
  <li ng-class="{'active': exibitionMode == 3}"><a data-ng-click="setExibitionMode(3)">Produto</a></li>
  <li ng-class="{'active': exibitionMode == 4}"><a data-ng-click="setExibitionMode(4)">Loja</a></li>
</ul>
<ul>
  <li ng-class="{'active': filterAnalitic == 1}"><a data-ng-click="setFilterAnalitic(1)">Hora</a></li>
  <li ng-class="{'active': filterAnalitic == 2}"><a data-ng-click="setFilterAnalitic(2)">Dia</a></li>
  <li ng-class="{'active': filterAnalitic == 3}"><a data-ng-click="setFilterAnalitic(3)">Semana</a></li>
  <li ng-class="{'active': filterAnalitic == 4}"><a data-ng-click="setFilterAnalitic(4)">Mês</a></li>
</ul>
<div>
  <highchart config="graphAnalitic"></highchart>
</div>           
<hgroup>
  <h3>{{filterAnaliticText}}</h3>
  <h3>QUANTIDADE</h3>
  <h3>VALOR</h3>
</hgroup>
<accordion ng-repeat="item in itensAnalitic">
  <accordion-group>
    <accordion-heading> <strong>{{item.filter}}</strong>  <em>{{item.totalAmount | currency:'R$ '}}</em> <b>{{item.quantity}}</b></accordion-heading>
    <accordion ng-repeat="filter in item.filterTransactionsList">
      <accordion-group>
        <accordion-heading> <strong>{{filter.filter}}</strong> <em>{{filter.totalAmount | currency:'R$ '}}</em> <b>{{filter.quantity}}</b></accordion-heading>
            <table cellpading="0" cellspacing="0">
                <thead>
                	<tr>
						<th>DATA</th>
						<th>NSU</th>
						<th>AUTORIZAÇÃO</th>
						<th>CARTÃO</th>
						<th>PRODUTO</th>
						<th>PLANO</th>
						<th>V.VENDA</th>
						<th>V.LÍQ</th>         
						<th>TAXA</th>  
						<th>MAQUINETA</th>                         		
                	</tr>
                </thead>
                <tbody>
                  <tr ng-repeat="transaction in filter.transactionsList">
                   	<td>{{transaction.date | date:'dd/MM/yyyy'}}</td>
                    <td>{{transaction.nsu}}</td>
                    <td>{{transaction.authorization}}</td>
                    <td>{{transaction.cardNumber}}</td>
                    <td>{{transaction.cardProductName}}</td>
                    <td>{{transaction.installment}}</td>
                    <td>{{transaction.totalAmount | currency:'R$ '}}</td>
                    <td>{{transaction.net | currency:'R$ '}}</td>
                    <td>{{transaction.percentFee}} %</td>
                    <td>{{transaction.terminalName}}</td>
                  </tr>
                  </tbody>
			</table>
		</accordion-group>
      </accordion>
	</accordion-group>
</accordion>
<ul class="archives">
   <li class="pdf"><a href="javascript:void(0);" data-ng-click="gerarAnalitico('PDF')">PDF</a></li>
  <li class="xls"><a href="javascript:void(0);" data-ng-click="gerarAnalitico('XLS')">XLS</a></li>
  <!-- <li class="csv"><a href="javascript:void(0);">CSV</a></li>-->
</ul>
<br />