<!-- duplicadas -->
<table id="listagemFinanceiroTour" cellpadding="0" callspacing="0">
    <colgroup>
    	<col></col>
    	<col></col>
    	<col></col>
    	<col></col>
    	<col></col>
    	<col></col>
    	<col></col>
    	<col></col>
    </colgroup>
    <thead>
      <tr>
        <th>Data</th>
        <th>Operadora</th>
        <th>Loja</th>
        <th>NSU</th>
        <th>Autorização</th>
        <th>Cartão</th>
        <th>Parcelamento</th>
        <th>Valor Bruto</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itensDuplicated">
        <td>{{item.date | date:'dd/MM/yyyy'}}</td>
        <td>{{item.acquirer}}</td>
        <td>{{item.settlement}}</td>
        <td>{{item.nsu}}</td>
        <td>{{item.authorization}}</td>
        <td>{{item.cardNumber}}</td>
        <td>{{item.installment}}</td>
        <td><i ng-bind-html='currencySymbol'></i> {{item.gross | currency:''}}</td>
      </tr>
    </tbody>
</table>
<ul class="archives">
  <li class="pdf"><a href="javascript:void(0);" data-ng-click="gerarDuplicadas('PDF')">PDF</a></li>
  <li class="xls"><a href="javascript:void(0);" data-ng-click="gerarDuplicadas('XLS')">XLS</a></li>
</ul>     
<br />