<section class=" relatorio">
    <ol class="breadCrumb">
        <li><a href="#/dashboard">home</a></li>
        <li><a href="#/dashboard">relatórios</a></li>
        <li><a href="#/dashboard">relatório de vendas</a></li>
    </ol>
    <div class="date">
        <h2>
            relatório de vendas
        </h2>
    </div>
    <br />
    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>

    <div id="primaryContent">
    <tabset>
    <!-- relatorio sintetico -->
      <tab heading="relatório sintético" active="tabs[0].active" select="loadingConciliacaoDia()" id="botaoConciliacaoDiaTour">
        <article id="relatorio_sintetico">
            <div class="hiddenContentWrapper">
                <a id="advancedButton" href="javascript:void(0);" onclick="javascript:toggleReport();">filtrar</a>
                <div class="hiddenContentReport advancedFilterHiddenContent">
                    <article class="filter">
                      <form>
                        <fieldset>
                          <ul class="filterList">
                            <li>
                              <label for="periodoInicial">Período</label>
                              <ul>
                                <li>
                                  <input type="text" class="disabled form-control"
                                          datepicker-popup="{{format}}" ng-model="dataInicial" is-open="openFirst"
                                          datepicker-options="dateOptions" ng-required="true" ng-change="changeInitialDate(dataInicial)"
                                          close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirst = true"/>
                                </li>
                                <li>
                                  <label for="">Até</label>
                                  <input type="text" class="disabled form-control"
                                          datepicker-popup="{{format}}" ng-model="dataFinal" is-open="openLast"
                                          datepicker-options="dateOptions" ng-required="true" ng-change="changeFinalDate(dataFinal)"
                                          close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLast = true"/>
                                </li>
                              </ul>
                            </li>
                            <br />
                          </ul>

                          <div class="hiddenContent  advancedFilterHiddenContent subAdvancedFilter">
                              <span>
                            <ul class="r_1">
                              <li class="grandChild fullWidthList relatorioLojaFilter">
                                <label for="buscaTerminal">Loja</label>
                                <input id="buscaTerminal" name="buscaSettlement" type="text" placeholder="{{getPlaceholder(settlementsSelected)}}"
                                   ng-model="settlement" typeahead-append-to-body="true"
                                   typeahead-on-select="addSettlementsSearch(settlement)"
                                   typeahead="item as item.name for item in getSettlements()"/>
                                <ul ng-repeat="item in settlementsSelected">
                                  <li>
                                    <h4>{{item.name}}, {{item.cnpj}}</h4>
                                    <a href="javascript:void(0);" ng-click="removeSettlementsSearch(item)">Fechar</a></li>
                                </ul>
                              </li>
                            </ul>
                            </span>
                            <div>
                              <ul class="grandChild">
                                <li class="bandeiraFilter">
                                  <label for="naturezaOperadora">Operadora</label>
                                  <input id="naturezaOperadora" name="naturezaOperadora" type="text" placeholder="{{getPlaceholder(acquirersSelected)}}"
                                   ng-model="acquirer" typeahead-append-to-body="true"
                                   typeahead-on-select="addAcquirerSearch(acquirer)"
                                   typeahead="item as item.name for item in getAcquirers() | filter:$viewValue"/>
                                  <ul ng-repeat="item in acquirersSelected">
                                    <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeAcquirerSearch(item)">Fechar</a></li>
                                  </ul>
                                </li>
                                <li class="bandeiraFilter">
                                  <label for="naturezaProduto">Produto</label>
                                  <input id="naturezaProduto" name="naturezaProduto" type="text" placeholder="{{getPlaceholder(productsSelected)}}"
                                   ng-model="product" typeahead-append-to-body="true"
                                   typeahead-on-select="addProductsSearch(product)"
                                   typeahead="item as item.name for item in getProducts() | filter:$viewValue"/>
                                  <ul ng-repeat="item in productsSelected">
                                    <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeProductsSearch(item)">Fechar</a></li>
                                  </ul>
                                </li>
                                <li class="bandeiraFilter">
                                  <label for="buscaParcelas">Parcelas</label>
                                  <input id="buscaParcelas" name="buscaParcelas" type="text" placeholder="{{getPlaceholder(installmentsSelected)}}"
                                   ng-model="installment" typeahead-append-to-body="true"
                                   typeahead-on-select="addParcelasAutoComplete(installment)"
                                   typeahead="item as item.name for item in installments | filter:$viewValue"/>
                                  <ul class="parcelaList" ng-repeat="item in installmentsSelected">
                                    <li>
                                      <h4>{{item.name}}</h4>
                                      <a href="javascript:void(0);" ng-click="removeParcelasAutoComplete(item)">Fechar</a></li>
                                  </ul>
                                </li>
                              </ul>
                              <br />
                            </div>
                          </div>
                        </fieldset>
                        <div class="submitButtons">
                            <input type="submit" ng-click="clearFilterSalesReport()" value="limpar">
							<input type="submit" ng-click="pesquisar()" value="filtrar">
						</div>
                        <br/>
                      </form>
                    </article>
                </div>
            </div>

          <span class="alert" ng-show="noItensMsg">Não existem dados/registros para o filtro selecionado</span>
          <div id="details" class="sales">
              <table cellpadding="0" cellspacing="0">
      			<thead>
      				<tr>
      					<th>
      						operadora
      						<img id="nsu" src="app/img/default.png" data-ng-click="orderColumn('nsu')"/>
      					</th>
      					<th>
      						cupons
      						<img id="authorization" src="app/img/default.png" data-ng-click="orderColumn('authorization')"/>
      					</th>
      					<th>
      						faturamento
      						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
      					</th>
                        <th>
      						percentual
      						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
      					</th>
      				</tr>
      			</thead>
      			<tbody id="cupomVendasTour">
      				<tr ng-repeat="item in itensDetalheVenda" ng-class-odd="'odd'">
      					<td ng-click="comprovanteVenda(item)">{{item.nsu}}</td>
                      	<td ng-click="comprovanteVenda(item)">{{item.authorization}}</td>
                      	<td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                        <td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
      				</tr>

                    <!-- fake repeat -->
                    <tr class="odd">
      					<td>item.nsu</td>
                      	<td>item.authorization</td>
                      	<td>item.tid</td>
                        <td>item.tid</td>
      				</tr>
                    <tr>
      					<td>item.nsu</td>
                      	<td>item.authorization</td>
                      	<td>item.tid</td>
                        <td>item.tid</td>
      				</tr>
                    <tr class="odd">
      					<td>item.nsu</td>
                      	<td>item.authorization</td>
                      	<td>item.tid</td>
                        <td>item.tid</td>
      				</tr>
                    <!-- fake repeat end -->
      			</tbody>
      		</table>


            <div class="footer">
    			<div class="buttonWrapper" ng-hide="statusItemAccordionSelected != 1">
    				<button class="conciliacaoButton" data-ng-click="conciliarVendas()"
    						ng-class="{'active': button}"
    						ng-disabled="buttonConcilied">conciliar vendas selecionadas</button>
    			</div>

    			<div class="optionsWrapper">
    				<div class="selectWrapper">
    					<label for="totalItensPage">resultados por página</label>
    					<div class="select">
    						<select ng-model="synthetic.totalItensPage" ng-change="alterTotalItensPage()" id="totalItensPage">
    							<option value="10">10</option>
    							<option value="20">20</option>
    							<option value="50">50</option>
    						</select>
    					</div>
    				</div>
    				<div class="paginationWrapper">
    					<pagination total-items="totalItens" ng-model="currentPage" ng-change="pageChanged()"
    								max-size="maxSize"  items-per-page="synthetic.totalItensPage" rotate="false"
    								class="pagination-sm" boundary-links="true"
    								previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
    					</pagination>
    				</div>
                    <!--
    				<ul class="archives">
    					<li class="label">exportar como:</li>
    					<li class="pdf" id="exportarArquivosModalTour"><a data-ng-click="gerarRelatorioModal('PDF')"></a></li>
    					<li class="xls"><a data-ng-click="gerarRelatorioModal('XLS')"></a></li>
    				</ul>
                    -->
    			</div>
    		</div>
          </div>


          <hgroup>
              <h3>bandeira / tipo de venda</h3>
              <h3>valor da venda (R$)</h3>
              <h3>total de vendas (R$)</h3>
          </hgroup>
          <span class="alert" ng-show="noItensMsg">Não existem dados/registros para o filtro selecionado</span>
              <table cellpading="0" cellspacing="0">
                  <tr ng-repeat="cardProduct in itensAccordion.cardBrandDTOs.cardProductDTOs">
                      <td><input type="checkbox" ng-model="cardProduct.itemCheck" required ng-change="checkcardProduct(cardProduct, item)" ng-show="isVisibleCheckbox()"/></td>
                      <td ng-click="openTransactionsList(cardProduct, cardBrand, item)">{{cardProduct.name}}</td>
                      <td ng-click="openTransactionsList(cardProduct, cardBrand, item)">{{cardProduct.quantity}}</td>
                      <td ng-click="openTransactionsList(cardProduct, cardBrand, item)"><i ng-bind-html='currencySymbol'></i> {{cardProduct.totalAmount | currency:""}}</td>
                  </tr>
              </table>

              <accordion ng-repeat="item in itensAccordion" id="accordionVendasTour">
                  <accordion-group>
                      <accordion-heading>
                          <strong><input type="checkbox" ng-model="item.checkAll" ng-change="checkAllAcquirer(item.checkAll, item)" ng-show="isVisibleCheckbox()"/>
                          {{item.name}}</strong>
                          <b>{{item.quantity}}</b>
                          <em><i ng-bind-html='currencySymbol'></i> {{item.totalAmount | currency:''}}</em>
                      </accordion-heading>
                      <accordion ng-repeat="cardBrand in item.cardBrandDTOs">
                          <accordion-group class="aberto">
                              <accordion-heading>
                                  <strong>
                                      <input type="checkbox" ng-model="cardBrand.itemCheck" ng-change="checkCardBrand(cardBrand, item)" ng-show="isVisibleCheckbox()"/>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cardBrand.name}}
                                  </strong>
                                  <b>
                                      <!-- <a data-ng-click="detailTransactions(actualDate, statusIdConciliacao, item.id, cardBrand.id, 0)"> -->
                                      {{cardBrand.quantity}}
                                  </b>
                                  <em><i ng-bind-html='currencySymbol'></i> {{cardBrand.totalAmount | currency:""}}</em>
                              </accordion-heading>
                              <table cellpading="0" cellspacing="0">
                                  <tr ng-repeat="cardProduct in cardBrand.cardProductDTOs">
                                      <td><input type="checkbox" ng-model="cardProduct.itemCheck" required ng-change="checkcardProduct(cardProduct, item)" ng-show="isVisibleCheckbox()"/></td>
                                      <td ng-click="openTransactionsList(cardProduct, cardBrand, item)">{{cardProduct.name}}</td>
                                      <td ng-click="openTransactionsList(cardProduct, cardBrand, item)">{{cardProduct.quantity}}</td>
                                      <td ng-click="openTransactionsList(cardProduct, cardBrand, item)"><i ng-bind-html='currencySymbol'></i> {{cardProduct.totalAmount | currency:""}}</td>
                                  </tr>
                              </table>
                          </accordion-group>
                      </accordion>
                  </accordion-group>
                  </accordion>
                  <!--
                  <table class="totalAccordion" cellpadding="0" cellspacing="0">
                      <tr>
                          <td>Total</td>
                          <td>{{totalAccordionQuantity}}</td>
                          <td><i ng-bind-html='currencySymbol'></i> {{totalAccordionAmount | currency:""}}</td>
                      </tr>
                  </table>
                  -->
          <button class="conciliacaoButton" data-ng-click="conciliarVendas()" ng-show="statusItensAccordionSelected == 1"
                  ng-class="{'active': !buttonConcilied}" ng-disabled="buttonConcilied" >conciliar vendas selecionadas</button>
          </form>
          <br />
      </article>
    </tab>

    <!-- relatorio analitico -->
    <tab heading="relatório analítico" active="tabs[1].active" select="loadingConciliacaoDia()" id="botaoConciliacaoDiaTour">
        <article id="relatorio_analitico">
            <div class="hiddenContentWrapper">
                <a id="advancedButton" href="javascript:void(0);" onclick="javascript:toggleReport();">filtrar</a>
                <div class="hiddenContentReport advancedFilterHiddenContent">
                    <article class="filter">
                      <form>
                        <fieldset>
                          <ul class="filterList">
                            <li>
                              <label for="periodoInicial">Período</label>
                              <ul>
                                <li>
                                  <input type="text" class="disabled form-control"
                                          datepicker-popup="{{format}}" ng-model="dataInicial" is-open="openFirst"
                                          datepicker-options="dateOptions" ng-required="true" ng-change="changeInitialDate(dataInicial)"
                                          close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirst = true"/>
                                </li>
                                <li>
                                  <label for="">Até</label>
                                  <input type="text" class="disabled form-control"
                                          datepicker-popup="{{format}}" ng-model="dataFinal" is-open="openLast"
                                          datepicker-options="dateOptions" ng-required="true" ng-change="changeFinalDate(dataFinal)"
                                          close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLast = true"/>
                                </li>
                              </ul>
                            </li>
                            <br />
                          </ul>

                          <div class="hiddenContent  advancedFilterHiddenContent subAdvancedFilter">
                              <span>
                            <ul class="r_1">
                              <li class="grandChild fullWidthList relatorioLojaFilter">
                                <label for="buscaTerminal">Loja</label>
                                <input id="buscaTerminal" name="buscaSettlement" type="text" placeholder="{{getPlaceholder(settlementsSelected)}}"
                                   ng-model="settlement" typeahead-append-to-body="true"
                                   typeahead-on-select="addSettlementsSearch(settlement)"
                                   typeahead="item as item.name for item in getSettlements()"/>
                                <ul ng-repeat="item in settlementsSelected">
                                  <li>
                                    <h4>{{item.name}}, {{item.cnpj}}</h4>
                                    <a href="javascript:void(0);" ng-click="removeSettlementsSearch(item)">Fechar</a></li>
                                </ul>
                              </li>
                            </ul>
                            </span>
                            <div>
                              <ul class="grandChild">
                                <li class="bandeiraFilter">
                                  <label for="naturezaOperadora">Operadora</label>
                                  <input id="naturezaOperadora" name="naturezaOperadora" type="text" placeholder="{{getPlaceholder(acquirersSelected)}}"
                                   ng-model="acquirer" typeahead-append-to-body="true"
                                   typeahead-on-select="addAcquirerSearch(acquirer)"
                                   typeahead="item as item.name for item in getAcquirers() | filter:$viewValue"/>
                                  <ul ng-repeat="item in acquirersSelected">
                                    <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeAcquirerSearch(item)">Fechar</a></li>
                                  </ul>
                                </li>
                                <li class="bandeiraFilter">
                                  <label for="naturezaProduto">Produto</label>
                                  <input id="naturezaProduto" name="naturezaProduto" type="text" placeholder="{{getPlaceholder(productsSelected)}}"
                                   ng-model="product" typeahead-append-to-body="true"
                                   typeahead-on-select="addProductsSearch(product)"
                                   typeahead="item as item.name for item in getProducts() | filter:$viewValue"/>
                                  <ul ng-repeat="item in productsSelected">
                                    <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeProductsSearch(item)">Fechar</a></li>
                                  </ul>
                                </li>
                                <li class="bandeiraFilter">
                                  <label for="buscaParcelas">Parcelas</label>
                                  <input id="buscaParcelas" name="buscaParcelas" type="text" placeholder="{{getPlaceholder(installmentsSelected)}}"
                                   ng-model="installment" typeahead-append-to-body="true"
                                   typeahead-on-select="addParcelasAutoComplete(installment)"
                                   typeahead="item as item.name for item in installments | filter:$viewValue"/>
                                  <ul class="parcelaList" ng-repeat="item in installmentsSelected">
                                    <li>
                                      <h4>{{item.name}}</h4>
                                      <a href="javascript:void(0);" ng-click="removeParcelasAutoComplete(item)">Fechar</a></li>
                                  </ul>
                                </li>
                              </ul>
                              <br />
                            </div>
                          </div>
                        </fieldset>
                        <div class="submitButtons">
                            <input type="submit" ng-click="clearFilterSalesReport()" value="limpar">
							<input type="submit" ng-click="pesquisar()" value="filtrar">
						</div>
                        <br/>
                      </form>
                    </article>
                </div>
            </div>
            <span class="alert" ng-show="noItensMsg">Não existem dados/registros para o filtro selecionado</span>
            <div id="details" class="sales">
                <table cellpadding="0" cellspacing="0">
        			<thead>
        				<tr>
        					<th>
        						data
        						<img id="nsu" src="app/img/default.png" data-ng-click="orderColumn('nsu')"/>
        					</th>
        					<th>
        						NSU
        						<img id="authorization" src="app/img/default.png" data-ng-click="orderColumn('authorization')"/>
        					</th>
        					<th>
        						autorização
        						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
        					</th>
                          <th>
        						cartão
        						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
        					</th>
                            <th>
          						produto
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
                            <th>
          						plano
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
                            <th>
          						valor venda (R$)
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
                            <th>
          						valor bruto (R$)
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
                            <th>
          						taxa
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
                            <th>
          						status
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
        				</tr>
        			</thead>
        			<tbody id="cupomVendasTour">
        				<tr ng-repeat="item in itensDetalheVenda" ng-class-odd="'odd'">
        					<td ng-click="comprovanteVenda(item)">{{item.nsu}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.authorization}}</td>
                        	<td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.authorization}}</td>
                        	<td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
        				</tr>

                      <!-- fake repeat -->
                      <tr class="odd">
        					<td>item.nsu</td>
                        	<td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
        				</tr>
                      <tr>
        					<td>item.nsu</td>
                        	<td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
        				</tr>
                      <tr class="odd">
        					<td>item.nsu</td>
                        	<td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
        				</tr>
                      <!-- fake repeat end -->
        			</tbody>
        		</table>


              <div class="footer">
      			<div class="buttonWrapper" ng-hide="statusItemAccordionSelected != 1">
      				<button class="conciliacaoButton" data-ng-click="conciliarVendas()"
      						ng-class="{'active': button}"
      						ng-disabled="buttonConcilied">conciliar vendas selecionadas</button>
      			</div>

      			<div class="optionsWrapper">
      				<div class="selectWrapper">
      					<label for="totalItensPage">resultados por página</label>
      					<div class="select">
      						<select ng-model="analytical.totalItensPage" ng-change="alterTotalItensPage()" id="totalItensPage">
      							<option value="10">10</option>
      							<option value="20">20</option>
      							<option value="50">50</option>
      						</select>
      					</div>
      				</div>
      				<div class="paginationWrapper">
      					<pagination total-items="totalItens" ng-model="currentPage" ng-change="pageChanged()"
      								max-size="maxSize"  items-per-page="analytical.totalItensPage" rotate="false"
      								class="pagination-sm" boundary-links="true"
      								previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      					</pagination>
      				</div>
                    <!--
      				<ul class="archives">
      					<li class="label">exportar como:</li>
      					<li class="pdf" id="exportarArquivosModalTour"><a data-ng-click="gerarRelatorioModal('PDF')"></a></li>
      					<li class="xls"><a data-ng-click="gerarRelatorioModal('XLS')"></a></li>
      				</ul>
                    -->
      			</div>
      		</div>
            </div>
        </article>
    </tab>

    <!-- relatorio de vendas duplicadas -->
    <tab heading="vendas duplicadas" active="tabs[2].active" select="loadingConciliacaoDia()" id="botaoConciliacaoDiaTour">
        <article id="relatorio_duplicado">
            <div class="hiddenContentWrapper">
                <a id="advancedButton" href="javascript:void(0);" onclick="javascript:toggleReport();">filtrar</a>
                <div class="hiddenContentReport advancedFilterHiddenContent">
                    <article class="filter">
                      <form>
                        <fieldset>
                          <ul class="filterList">
                            <li>
                              <label for="periodoInicial">Período</label>
                              <ul>
                                <li>
                                  <input type="text" class="disabled form-control"
                                          datepicker-popup="{{format}}" ng-model="dataInicial" is-open="openFirst"
                                          datepicker-options="dateOptions" ng-required="true" ng-change="changeInitialDate(dataInicial)"
                                          close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirst = true"/>
                                </li>
                                <li>
                                  <label for="">Até</label>
                                  <input type="text" class="disabled form-control"
                                          datepicker-popup="{{format}}" ng-model="dataFinal" is-open="openLast"
                                          datepicker-options="dateOptions" ng-required="true" ng-change="changeFinalDate(dataFinal)"
                                          close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLast = true"/>
                                </li>
                              </ul>
                            </li>
                            <br />
                          </ul>

                          <div class="hiddenContent  advancedFilterHiddenContent subAdvancedFilter">
                              <span>
                            <ul class="r_1">
                              <li class="grandChild fullWidthList relatorioLojaFilter">
                                <label for="buscaTerminal">Loja</label>
                                <input id="buscaTerminal" name="buscaSettlement" type="text" placeholder="{{getPlaceholder(settlementsSelected)}}"
                                   ng-model="settlement" typeahead-append-to-body="true"
                                   typeahead-on-select="addSettlementsSearch(settlement)"
                                   typeahead="item as item.name for item in getSettlements()"/>
                                <ul ng-repeat="item in settlementsSelected">
                                  <li>
                                    <h4>{{item.name}}, {{item.cnpj}}</h4>
                                    <a href="javascript:void(0);" ng-click="removeSettlementsSearch(item)">Fechar</a></li>
                                </ul>
                              </li>
                            </ul>
                            </span>
                            <div>
                              <ul class="grandChild">
                                <li class="bandeiraFilter">
                                  <label for="naturezaOperadora">Operadora</label>
                                  <input id="naturezaOperadora" name="naturezaOperadora" type="text" placeholder="{{getPlaceholder(acquirersSelected)}}"
                                   ng-model="acquirer" typeahead-append-to-body="true"
                                   typeahead-on-select="addAcquirerSearch(acquirer)"
                                   typeahead="item as item.name for item in getAcquirers() | filter:$viewValue"/>
                                  <ul ng-repeat="item in acquirersSelected">
                                    <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeAcquirerSearch(item)">Fechar</a></li>
                                  </ul>
                                </li>
                                <li class="bandeiraFilter">
                                  <label for="naturezaProduto">Produto</label>
                                  <input id="naturezaProduto" name="naturezaProduto" type="text" placeholder="{{getPlaceholder(productsSelected)}}"
                                   ng-model="product" typeahead-append-to-body="true"
                                   typeahead-on-select="addProductsSearch(product)"
                                   typeahead="item as item.name for item in getProducts() | filter:$viewValue"/>
                                  <ul ng-repeat="item in productsSelected">
                                    <li>{{item.name}}<a href="javascript:void(0);" ng-click="removeProductsSearch(item)">Fechar</a></li>
                                  </ul>
                                </li>
                                <li class="bandeiraFilter">
                                  <label for="buscaParcelas">Parcelas</label>
                                  <input id="buscaParcelas" name="buscaParcelas" type="text" placeholder="{{getPlaceholder(installmentsSelected)}}"
                                   ng-model="installment" typeahead-append-to-body="true"
                                   typeahead-on-select="addParcelasAutoComplete(installment)"
                                   typeahead="item as item.name for item in installments | filter:$viewValue"/>
                                  <ul class="parcelaList" ng-repeat="item in installmentsSelected">
                                    <li>
                                      <h4>{{item.name}}</h4>
                                      <a href="javascript:void(0);" ng-click="removeParcelasAutoComplete(item)">Fechar</a></li>
                                  </ul>
                                </li>
                              </ul>
                              <br />
                            </div>
                          </div>
                        </fieldset>
                        <div class="submitButtons">
                            <input type="submit" ng-click="clearFilterSalesReport()" value="limpar">
							<input type="submit" ng-click="pesquisar()" value="filtrar">
						</div>
                        <br/>
                      </form>
                    </article>
                </div>
            </div>
            <span class="alert" ng-show="noItensMsg">Não existem dados/registros para o filtro selecionado</span>
            <div id="details" class="sales">
                <table cellpadding="0" cellspacing="0">
        			<thead>
        				<tr>
        					<th>
        						data
        						<img id="nsu" src="app/img/default.png" data-ng-click="orderColumn('nsu')"/>
        					</th>
        					<th>
        						operadora
        						<img id="authorization" src="app/img/default.png" data-ng-click="orderColumn('authorization')"/>
        					</th>
        					<th>
        						loja
        						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
        					</th>
                          <th>
        						NSU
        						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
        					</th>
                            <th>
          						autorização
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
                            <th>
          						cartão
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
                            <th>
          						parcelas
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
                            <th>
          						valor bruto (R$)
          						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
          					</th>
        				</tr>
        			</thead>
        			<tbody id="cupomVendasTour">
        				<tr ng-repeat="item in itensDetalheVenda" ng-class-odd="'odd'">
        					<td ng-click="comprovanteVenda(item)">{{item.nsu}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.authorization}}</td>
                        	<td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.authorization}}</td>
                        	<td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
                            <td ng-click="comprovanteVenda(item)">{{item.tid}}</td>
        				</tr>

                      <!-- fake repeat -->
                      <tr class="odd">
        					<td>item.nsu</td>
                        	<td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
        				</tr>
                      <tr>
        					<td>item.nsu</td>
                        	<td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
        				</tr>
                      <tr class="odd">
        					<td>item.nsu</td>
                        	<td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.authorization</td>
                        	<td>item.tid</td>
                            <td>item.tid</td>
                            <td>item.tid</td>
        				</tr>
                      <!-- fake repeat end -->
        			</tbody>
        		</table>


              <div class="footer">
      			<div class="buttonWrapper" ng-hide="statusItemAccordionSelected != 1">
      				<button class="conciliacaoButton" data-ng-click="conciliarVendas()"
      						ng-class="{'active': button}"
      						ng-disabled="buttonConcilied">conciliar vendas selecionadas</button>
      			</div>

      			<div class="optionsWrapper">
      				<div class="selectWrapper">
      					<label for="totalItensPage">resultados por página</label>
      					<div class="select">
      						<select ng-model="duplicate.totalItensPage" ng-change="alterTotalItensPage()" id="totalItensPage">
      							<option value="10">10</option>
      							<option value="20">20</option>
      							<option value="50">50</option>
      						</select>
      					</div>
      				</div>
      				<div class="paginationWrapper">
      					<pagination total-items="totalItens" ng-model="currentPage" ng-change="pageChanged()"
      								max-size="maxSize"  items-per-page="duplicate.totalItensPage" rotate="false"
      								class="pagination-sm" boundary-links="true"
      								previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      					</pagination>
      				</div>
                    <!--
      				<ul class="archives">
      					<li class="label">exportar como:</li>
      					<li class="pdf" id="exportarArquivosModalTour"><a data-ng-click="gerarRelatorioModal('PDF')"></a></li>
      					<li class="xls"><a data-ng-click="gerarRelatorioModal('XLS')"></a></li>
      				</ul>
                    -->
      			</div>
      		</div>
            </div>
        </article>
    </tab>


    </tabset>
    </div>
</section>
