<section class="relatorio" id="relatorio">
	<ol class="breadCrumb">
		<li>você está em:</li>
        <li><a href="#/home">home</a></li>
        <li><a href="#/relatorio/vendas">relatórios</a></li>
        <li><a href="#/relatorio/vendas">relatório de vendas</a></li>
    </ol>

	<div class="date">
		<h2>relatório de vendas</h2>
	</div>
	<br />

	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>

	<div id="primaryContent">
		<!-- relatorio sintetico -->
		<tabset>
			<tab heading="relatório sintético" active="tabs[0].active" select="changeTab(1)" id="botaoConciliacaoDiaTour">
				<article id="relatorio_sintetico">
					<div class="hiddenContentWrapper">
						<a id="advancedButton" class="advancedButton active" href="javascript:void(0);" onclick="javascript:toggleReport();">filtrar</a>
						<div class="hiddenContentReport advancedFilterHiddenContent" style="display:block;">
							<article class="filter">
								<form>
									<fieldset>
										<div class="filterShiny">
											<ul>
												<li class="itauicon-itaufonts_calendario">
													<label for="" class="itauicon-itaufonts_calendario"></label>
													<input type="text" class="disabled input-date" datepicker-popup="{{format}}" ng-model="synthetic.initialDate" is-open="openFirstsynthetic" datepicker-options="dateOptions" ng-required="true" ng-change="changeInitialDateSynthetic(synthetic.initialDate)" accept=""close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirstsynthetic = true" placeholder="Período de vendas" readonly="true"/>

													<label for="" class="at">Até</label>
													<input type="text" class="disabled input-date" datepicker-popup="{{format}}" ng-model="synthetic.finalDate" is-open="openLastsynthetic" datepicker-options="dateOptions" ng-required="true" ng-change="changeFinalDateSynthetic(synthetic.finalDate)" close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLastsynthetic = true" style="background:transparent;margin-left:-30px;padding-left:40px!important;" readonly="true"/>
												</li>
												<li class="itauicon-itaufonts_para_empresa">
													<input id="buscaTerminal" name="buscaSettlement" type="text" placeholder="{{GetPlaceholder(settlementsSelected)}}" ng-model="settlement" typeahead-on-select="AddSettlementsSearch(settlement)" typeahead="item as item.code for item in GetSettlements() | filter:$viewValue"/>

													<ul ng-repeat="item in settlementsSelected">
														<li>
															<h4>{{item.code}}</h4>
															<a class="removeSettlementsSearch" href="javascript:void(0);" ng-click="RemoveSettlementsSearch(item)">Fechar</a>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</fieldset>

									<div class="submitButtons">
										<input type="submit" ng-click="clearSyntheticFilter()" value="limpar">
										<input type="submit" ng-click="getSynthetic()" value="filtrar">
									</div>
									<br/>
								</form>
							</article>
						</div>
					</div>

					<div id="chartRelatorioSinteticoContainer" ng-show="synthetic.items">
						<canvas id="line" class="chart chart-pie chartRelatorioSintetico" chart-data="chartjs.data"
		                	chart-labels="chartjs.labels" chart-legend="true" chart-series="chartjs.series"
		                	chart-options="chartOptions">
		            	</canvas>
					</div>

					<div id="details" class="sales">
						<table cellpadding="0" cellspacing="0" class="sortTable">
							<thead>
								<tr class="taleft">
									<th width="270" ng-click="sortResults($event,'cardProduct.name', 'sintetico')">produto</th>
									<th width="270" ng-click="sortResults($event,'id', 'sintetico')">cupons</th>
									<th width="260" ng-click="sortResults($event,'gross', 'sintetico')">faturamento (R$)</th>
									<th ng-click="sortResults($event,'id', 'sintetico')">percentual</th>
								</tr>
							</thead>

							<tbody id="cupomVendasTour" class="taleft">
								<tr ng-repeat="item in synthetic.items" ng-class-odd="'odd'">
									<td>{{item.cardProduct.name}}</td>
									<td>{{item.quantity}}</td>
									<td>{{item.amount | currency:''}}</td>
									<td>{{item.percentage | currency:''}}%</td>
								</tr>
							</tbody>
						</table>
						<span class="alert" ng-show="synthetic.noItensMsg">Não existem dados/registros para o filtro selecionado</span>
					</div>
				</article>
			</tab>


			<!-- relatorio analitico -->
			<tab heading="relatório analítico" active="tabs[1].active" select="changeTab(2)" id="botaoConciliacaoDiaTour">
				<article id="relatorio_analitico">
					<div class="hiddenContentWrapper">
						<a id="advancedButton" class="advancedButton active" href="javascript:void(0);" onclick="javascript:toggleReport();">filtrar</a>
						<div class="hiddenContentReport advancedFilterHiddenContent" style="display:block;">
							<article class="filter">
								<form>
									<fieldset>
										<div class="filterShiny">
											<ul>
												<li class="itauicon-itaufonts_calendario">
													<input type="text" class="disabled input-date" datepicker-popup="{{format}}" ng-model="analytical.initialDate" is-open="openFirstAnalitical" datepicker-options="dateOptions" ng-required="true" ng-change="changeInitialDateAnalitical(analytical.initialDate)" close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirstAnalitical = true" readonly="true" />
													<label for="" class="at">Até</label>
													<input type="text" class="disabled input-date" datepicker-popup="{{format}}" ng-model="analytical.finalDate" is-open="openLastAnalitical" datepicker-options="dateOptions" ng-required="true" ng-change="changeFinalDateAnalitical(analytical.finalDate)" close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLastAnalitical = true" style="background:transparent;margin-left:-30px;padding-left:40px!important;" readonly="true"/>
												</li>
												<li class="center itauicon-itaufonts_para_empresa">
													<input id="buscaTerminal2" name="buscaSettlement" type="text" placeholder="{{GetPlaceholder(settlementsSelected)}}" ng-model="settlement" typeahead-on-select="AddSettlementsSearch(settlement)" typeahead="item as item.code for item in GetSettlements() | filter:$viewValue"/>
													<ul ng-repeat="item in settlementsSelected">
														<li>
															<h4>{{item.code}}</h4>
															<a class="removeSettlementsSearch" href="javascript:void(0);" ng-click="RemoveSettlementsSearch(item)">Fechar</a>
														</li>
													</ul>
												</li>
												<li class="itauicon-itaufonts_cartao">
													<input id="naturezaProduto" name="naturezaProduto" type="text" placeholder="{{GetPlaceholderFlag(productsSelected)}}" ng-model="product" typeahead-on-select="AddProductsSearch(product)" typeahead="item as item.name for item in GetProducts() | filter:$viewValue"/>
													<ul ng-repeat="item in productsSelected">
														<li>
															<h4>{{item.name}}</h4>
															<a class="removeSettlementsSearch" href="javascript:void(0);" ng-click="RemoveProductsSearch(item)">Fechar</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</fieldset>
									<div class="submitButtons">
										<input type="submit" ng-click="clearAnalyticalFilter()" value="limpar">
										<input type="submit" ng-click="getAnalytical()" value="filtrar">
									</div>
									<br/>
								</form>
							</article>
						</div>
					</div>

					<div id="details" class="sales">
						<table cellpadding="0" cellspacing="0" class="sortTable">
							<thead>
								<tr class="taleft">
									<th ng-click="sortResults($event,'date', 'analitico')">data</th>
									<th ng-click="sortResults($event,'nsu', 'analitico')">NSU</th>
									<th ng-click="sortResults($event,'authorization', 'analitico')">autorização</th>
									<th ng-click="sortResults($event,'cardNumber', 'analitico')">cartão</th>
									<th ng-click="sortResults($event,'installment', 'analitico')">plano</th>
									<th ng-click="sortResults($event,'terminal.code', 'analitico')">maquineta</th>
									<th ng-click="sortResults($event,'gross', 'analitico')">valor bruto (R$)</th>
								</tr>
							</thead>

							<tbody id="cupomVendasTour">
								<tr ng-repeat="item in analytical.items" ng-class-odd="'odd'">
									<td>{{item.date | date:'dd/MM/yyyy'}}</td>
									<td>{{item.nsu}}</td>
									<td>{{item.authorization}}</td>
									<td>{{item.cardNumber}}</td>
									<td>{{item.installment}}</td>
									<td>{{item.terminal.code}}</td>
									<td>{{item.gross | currency:''}}</td>
								</tr>
							</tbody>
						</table>

						<span class="alert" ng-show="analytical.noItensMsg">Não existem dados/registros para o filtro selecionado</span>

						<div class="footer">
							<div class="optionsWrapper">
								<div class="selectWrapper">
									<label for="totalItensPageAnalytical">resultados por página</label>
									<div class="select">
										<select ng-model="totalItensPageAnalytical" ng-change="totalItensPageChangedAnalytical()" id="totalItensPage">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="50">50</option>
										</select>
									</div>
								</div>

								<div class="paginationWrapper">
									<pagination total-items="totalItensAnalytical" ng-model="currentPageAnalytical" ng-change="pageChangedAnalytical()" max-size="maxSize" items-per-page="totalItensPageAnalytical" rotate="false" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
									</pagination>
								</div>

								<!-- descomentar ao inserir exportação de relatórios -->
								<div class="export-report-sales">
								    <strong>Exportar como:</strong>
								    <ul>
										<li><div id="export-report-sales-excel" title="Exportar como Excel" ng-click="exportAnalytical()">
											<img src="app/img/ico-excel.png" alt="" />
										</div></li>
								    </ul>
								</div>
							</div>
						</div>
					</div>
				</article>
			</tab>

			<!-- relatorio de vendas duplicadas -->
			<tab heading="vendas duplicadas" active="tabs[2].active" select="changeTab(3)" id="botaoConciliacaoDiaTour">
				<article id="relatorio_duplicado">
					<div class="hiddenContentWrapper">
						<a id="advancedButton" class="advancedButton active" href="javascript:void(0);" onclick="javascript:toggleReport();">filtrar</a>
						<div class="hiddenContentReport advancedFilterHiddenContent" style="display:block;">
							<article class="filter">
								<form>
									<fieldset>
										<div class="filterShiny">
											<ul>
												<li class="itauicon-itaufonts_calendario">
													<input type="text" class="disabled input-date" datepicker-popup="{{format}}" ng-model="duplicate.initialDate" is-open="openFirstduplicate" datepicker-options="dateOptions" ng-required="true" ng-change="changeInitialDateDuplicate(duplicate.initialDate)" close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirstduplicate = true" readonly="true" />

													<label for="" class="at">Até</label>

													<input type="text" class="disabled input-date" datepicker-popup="{{format}}" ng-model="duplicate.finalDate" is-open="openLastduplicate" datepicker-options="dateOptions" ng-required="true" ng-change="changeFinalDateDuplicate(duplicate.finalDate)" close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLastduplicate = true" style="background:transparent;margin-left:-30px;padding-left:40px!important;" readonly="true"/>
												</li>
												<li class="center itauicon-itaufonts_para_empresa">
													<input id="buscaTerminal3" name="buscaSettlement" type="text" placeholder="{{GetPlaceholder(settlementsSelected)}}"
														ng-model="settlement"
														typeahead-on-select="AddSettlementsSearch(settlement)"
														typeahead="item as item.code for item in GetSettlements() | filter:$viewValue"/>
													<ul ng-repeat="item in settlementsSelected">
														<li>
															<h4>{{item.code}}</h4>
															<a class="removeSettlementsSearch" href="javascript:void(0);" ng-click="RemoveSettlementsSearch(item)">Fechar</a>
														</li>
													</ul>
												</li>
												<li class="itauicon-itaufonts_cartao">
													<input id="naturezaProduto2" name="naturezaProduto" type="text" placeholder="{{GetPlaceholderFlag(productsSelected)}}"
														ng-model="product"
														typeahead-on-select="AddProductsSearch(product)"
														typeahead="item as item.name for item in GetProducts() | filter:$viewValue"/>
													<ul ng-repeat="item in productsSelected">
														<li>
															<h4>{{item.name}}</h4>
															<a class="removeSettlementsSearch" href="javascript:void(0);" ng-click="RemoveProductsSearch(item)">Fechar</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</fieldset>
									<div class="submitButtons">
										<input type="submit" ng-click="clearDuplicateFilter()" value="limpar">
										<input type="submit" ng-click="getDuplicate()" value="filtrar">
									</div>
									<br/>
								</form>
							</article>
						</div>
					</div>

					<div id="details" class="sales">
						<table cellpadding="0" cellspacing="0" class="sortTable">
							<thead>
								<tr class="taleft">
									<th ng-click="sortResults($event,'date', 'duplicadas')">data</th>
									<th ng-click="sortResults($event,'nsu', 'duplicadas')">NSU</th>
									<th ng-click="sortResults($event,'authorization', 'duplicadas')">autorização</th>
									<th ng-click="sortResults($event,'cardNumber', 'duplicadas')">cartão</th>
									<th ng-click="sortResults($event,'installment', 'duplicadas')">plano</th>
									<th ng-click="sortResults($event,'terminal.code', 'duplicadas')">maquineta</th>
									<th ng-click="sortResults($event,'gross', 'duplicadas')">valor bruto (R$)</th>
								</tr>
							</thead>

							<tbody class="cupomVendasTour" ng-repeat="item in duplicate.items">
								<tr ng-class-odd="'odd'">
									<td>{{item.date | date:'dd/MM/yyyy'}}</td>
									<td>{{item.nsu}}</td>
									<td>{{item.authorization}}</td>
									<td>{{item.cardNumber}}</td>
									<td>{{item.installment}}</td>
									<td>{{item.terminal.code}}</td>
									<td>{{item.gross | currency:''}}</td>
								</tr>
								<tr ng-show="item.duplicateFrom" ng-class-odd="'odd'">
									<td>{{item.duplicateFrom.date | date:'dd/MM/yyyy'}}</td>
									<td>{{item.duplicateFrom.nsu}}</td>
									<td>{{item.duplicateFrom.authorization}}</td>
									<td>{{item.duplicateFrom.cardNumber}}</td>
									<td>{{item.duplicateFrom.installment}}</td>
									<td>{{item.duplicateFrom.terminal.code}}</td>
									<td>{{item.duplicateFrom.gross | currency:''}}</td>
								</tr>
							</tbody>
						</table>

						<span class="alert" ng-show="duplicate.noItensMsg">Não existem dados/registros para o filtro selecionado</span>
						<div class="footer">
							<div class="optionsWrapper">
								<div class="selectWrapper">
									<label for="totalItensPageDuplicate">resultados por página</label>
									<div class="select">
										<select ng-model="totalItensPageDuplicate" ng-change="totalItensPageChangedDuplicate()" id="totalItensPage">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="50">50</option>
										</select>
									</div>
								</div>

								<div class="paginationWrapper">
									<pagination total-items="totalItensDuplicate" ng-model="currentPageDuplicate" ng-change="pageChangedDuplicate()" max-size="maxSize" items-per-page="totalItensPageDuplicate" rotate="false" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
									</pagination>
								</div>
							</div>
						</div>
					</div>
				</article>
			</tab>
		</tabset>
	</div>
	<rc-disclaimer></rc-disclaimer>
</section>
