npm-debug.log
node_modules
.idea
.settings
.sass-cache
.project
coverage
build
docs
WebContent/app/config.js
WebContent/app/build.js
WebContent/assets/css/main-v2.*
JSON
JSON.map
WebContent/assets/sass/*.css
WebContent/assets/sass/*.map
