<script type="text/ng-template" id="modalTrocarSenha.html">
<div id="changePassword">
		<button class="icon-close" ng-click="cancel()"></button>
	<div class="modal-header">
    	<h3 class="modal-title">Bem-vindo a Kaplen!</h3>
    </div>
    <div class="modal-body">
		<p>Para a sua segurança, solicitamos que você altere a sua senha atual para alguma de sua preferência:</p>
		<form>
			<label for="newPassword">Sua nova senha:</a>
			<input type="password" name="password" required ng-model="password"/>
			<label for="rewriteNewPassword">Repita a sua nova senha:</a>
			<input type="password" name="rewritePassword" required ng-model="rewritePassword"/>
			<button data-ng-click="changePassword()">Cadastrar nova senha</button>
		</form>
	</div>
</div>
</script>
<section id="login" class="envioEmail">
	<hgroup>
		<h2>Esqueci minha senha</h2>
	</hgroup>
	<alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
	<p>Para redefinir sua senha, digite o endereço de e-mail que você usa para fazer login.</p>
	<form name="formLogin" novalidate>
		<label for="login">Email</label>
	    <input ng-model="usuario.email" type="text" required/>
	    <button class="btn btn-default">Enviar</button>
	</form>
</section>
