<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#f2f4f4" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" width="100%">
<table style="margin:0 auto;" border="0" cellpadding="0" cellspacing="0" >
	<tr>
		<td colspan="4" width="615" height="18"></td>
	</tr>
	<tr>
		<td rowspan="4" width="25%" height="553"  bgcolor="#f2f4f4"></td>
		<td width="291" height="71" bgcolor="#212e3b">
			<img style="padding-left:20px;" src="cid:marca" alt=""></td>
		<td width="216" height="71" bgcolor="#212e3b"></td>
		<td rowspan="4" width="25%" bgcolor="#f2f4f4"></td>
	</tr>
	<tr>
		<td colspan="2" bgcolor="#f2f4f4"></td>
	</tr>
    <tr>
		<td colspan="2" width="507" height="15" bgcolor="#f2f4f4"></td>
	</tr>
	<tr>
		<td colspan="2" style="font-family:Arial, Helvetica, sans-serif;font-size:14px;padding-top:30px;padding-right:20px;padding-left:20px;vertical-align:text-top;line-height:18px;" width="615" height="409">
			<h2 style="color:#212e3b;font-size:22px;">Bem-vindo, **userName**!</h2>
            Para cadastrar sua nova senha, clique no link abaixo.<br />
            Este link expira em 24 horas.
			<br /><br />
			<button style="color:#fff;text-transform:uppercase;font-size:16px;width:160px;position:relative;left:50%;margin-left:-80px;background:#212e3c;">Redefinir senha</button>
			<br /><br />
			Agora você já tem acesso a plataforma da Kaplen. É só clicar no link abaixo e efetuar o seu login:			
			<br /><br />
			<a href="javascript:void(0);" target="_blank">http://app.kaplen.com.br/exemploDePagina.html</a>
			<br /><br />
			Um abraço,<br />
			Equipe Kaplen<br />
			<a style="color:#16a085;text-decoration:none;" href="www.kaplen.com.br" target="_blank">www.kaplen.com.br</a>
        </td>
	</tr>
	<tr>
		<td colspan="2" bgcolor="#f2f4f4"></td>
	</tr>
</table>
</body>
</html>
