<div class="integrateModal">
        <div class="modal-body">
		<ul class="filterList">
              <li class="integrateFirstChild">
                <label for="periodoInicial">Período</label>
                <ul>
                  <li>
                    <input type="text" class="disabled form-control" 
							datepicker-popup="{{format}}" ng-model="dataInicial" is-open="openFirst"
							datepicker-options="dateOptions" ng-required="true" show-weeks="false" ng-change="changeInitialDate(dataInicial)"
							close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirst = true"/>
                  </li>
                  <li>
                    <label for="">Até</label>
                    <input type="text" class="disabled form-control" 
							datepicker-popup="{{format}}" ng-model="dataFinal" is-open="openLast"
							datepicker-options="dateOptions" ng-required="true" ng-change="changeFinalDate(dataFinal)"
							close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLast = true"/>
                  </li>
				</ul>
				</li>
					<li class="integrateFirstChild">
						<label for="">Operadora</label>
						<div class="select">
							<select>
								<option value=""></option>
								<option value=""></option>
							</select>
						</div>
					</li>
                </ul>  
			<br />            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
</div>