<section id="conciliacao" class="relatorio listConfig">
  <hgroup>
    <h2>Editar Maquineta</h2>
  </hgroup> 
  <br />
  <div id="primaryContent"> 
  <article class="filter">
  <form name="newTerminal" novalidate>
  <ul>
  	<li>
	  	<label>Nome:</label>
	  	<input type="text" required ng-model="terminal.name">
  	</li>
  	<li class="configButtons">
	  	<button ng-click="save()" ng-disabled="newTerminal.$invalid">Salvar</button>
	  	<button ng-click="returnList()">Voltar</button>
  	</li>
  	<br />
  	</ul>
  	</form>
  	</article>
  	</div>
</section>
