.empty-state {
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

    &.block {
        vertical-align: middle;
        width: 26%;
    }

    p {
        color: #575758;
	    margin: 0 0 0 50px !important;
    }

    i {
	    background-image: url(#{$imgPath}emptyState.png);
	    background-size: cover;
	    position: absolute;
	    width: 28px;
	    height: 25px;
	    margin: 0 275px 10px 0;
    }
}