.rc-pagination {

  font-family: $fontRegular;

  .results-per-page {

    label {
      color: $rcPaginationDefaultColor;
      font-size: 1.3em;
      font-weight: normal;
      margin-right: 0.5em;
      position: relative;
      top: -17px;
    }

    .select-wrapper {
      color: $rcPaginationDefaultColor;
      height: 3.7em;
      width: 7em;

      :before {
          font-size: 2.2em;
          color: #b9b8b8;
      }

      select {
        height: 2.7em;
        width: 5.2em;
      }

    }

  }

  .results-pagination {

    text-align: center;

    .pagination li {

      a {

        @include transition(.2s, ease-in);
        background: transparent;
        border: 0;
        color: $rcPaginationDefaultColor;
        font-size: 1.3em;
        padding: 0 1.3em;

      }

      &.active a {

        color: $rcPaginationLinkActiveColor;
        cursor: default;
        font-family: $fontBold;
        text-decoration: underline;

      }

    }

  }

}
