.rc-sort {

  &:after {
    background: url(../img/icons/order_arrows.png) no-repeat -5px -26px;
    display: inline-block;
    width: 11px;
    height: 11px;
    padding: 0;
    margin-left: 7px;
    top: 2px;
    content: "";
  }

  &.sort-asc {
    &:after {
      background-position: -26px -5px;
    }
  }

  &.sort-desc {
    &:after {
      background-position: -5px -5px;
    }
  }

}