.timeline-wrapper {
  height: 150px;
  width: 100%;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  margin: 32px 0 55px;
  li {
    list-style: none;
  }
  .timeline-head {
    padding: 0;
    float: left;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
      color: #b9b8b8;
      font-weight: bolder;
      font-size: 14px!important;
      span {
        color: #ff7800;
        font-size: 14px;
        display: inline-block;
        margin-top: 3px;
      }
      &:first-child {
        color: #575758;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
  .total {
    color: #ff7800;
    display: flex;
    width: 100%;
    height: auto;
    float: left;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: lighter;
    padding: 0;
    li {
      font-size: 40px;
      font-weight: lighter;
      font-family: 'open_sanslight';
      .gray {
        color: #b9b8b8;
      }
      span {
        font-size: 14px;
        float: left;
        width: auto;
        height: 50px;
        line-height: 75px;
        margin-right: 5px;
        font-family: 'open_sansregular';
      }
    }
    .gray {
      color: #b9b8b8;
    }
  }
  .timeline-block {
    width: 100%;
    height: 10px;
    position: relative;
    float: left;
    margin-top: 25px;
    margin-bottom: 30px;
    background: #DDD;
    .percent {
      height: 50px;
      position: relative;
      -webkit-transition: width 1s;
      transition: width 1s;
      max-width: 100%;
      &:before {
        content: "";
        width: 100%;
        height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background: #ff7800;
      }
    }

    article {
      padding: 0;
      margin: 10px 0;
      float: left;
      min-width: 94px;
      width: 100%;
      aside {
        color: #ff7800;
        font-weight: bolder;
        display: inline-block;
        right: 0;
        position: absolute;
        margin-top: 8px;
        font-family: 'open_sansbold';
      }
    }

    &:before {
      content: "0%";
      left: 0;
    }
    &:after {
      content: "100%";
      right: 0;
    }
    &:before, &:after {
      position: absolute;
      top: -20px;
      color: #b9b8b8;
      font-weight: bolder;
    }
  }
}