.table {

    font-size: 1em;

    &.primary {

        th {
            border-bottom: none;
            font-size: 1.29em;
            padding: 1.3em 0;
        }

        td {
            font-size: 1.3em;
            padding: 1em 0;
            border-bottom: 1px solid $tableRowBorderColor;

            &:first-of-type {
                border-top: 1px solid $tableRowBorderColor;
            }
        }

        thead {
            color: $tableHeadFontColor;
        }

        tbody {

        }

        thead th:first-of-type,
        tbody td:first-of-type {
            padding-left: 0.5em;
            padding-right: 2em;
        }
    }

    &.details {

    }

    .btn-details {
        color: $defaultOrange;
        text-decoration: underline;
        font-family: $fontSemiBold;
    }
}
