.table {
    tbody>tr>td,
    tbody>tr>th,
    tfoot>tr>td,
    tfoot>tr>th,
    thead>tr>td,
    thead>tr>th{
        border-top-color: #eee;
        border-bottom: none;
        //vertical-align: middle;
    }

    td {
        font-size: 1.1em;

        a, button {
            color: $tableLinkColor;
            text-decoration: underline;

            &:hover {
                color: $tableLinkColor;
            }
        }
    }

    &.primary {
        thead {
            background: $tableHeadBackgroundColor;
            color: $tableHeadFontColor;
        }

        th {
            padding: 2.3em 0 1.8em;
            font-size: .96em;
        }

        tbody {

        }

        td {
            font-size: .96em;
            padding: 2.3em 0 1.8em;
        }

        thead th:first-of-type,
        tbody td:first-of-type {
            padding-left: 3em;
            padding-right: 2em;
            display: block;
        }
    }
}
