.rc-tabset {
  .nav-tabs, .nav-tabs.nav-justified {

    border-bottom: none;
    width: 100%;

    li {

      background: $lightGray;
      border-left: 1px solid #fff;
      border-right: 0;
      border-top: 2px solid $lightGray;
      font-size: 1.4em;
      font-weight: bolder;

      &:first-child {
        border-left-color: $lightGray;
      }

      &.active {

        border-right: none;
        border-top: 2px solid $defaultOrange;
        background: white;
        color: $defaultOrange;

        a {

          background: #fff;
          border-left: none;
          border-right: none;
          color: $defaultOrange;

          &:hover, &:focus {
            border: 0;
          }

        }

      }

      a {

        @include border-radius(0,0,0,0);
        border: none;
        color: $darkGray;
        display: block;
        padding: 0.9em 1.2em;
        text-align: left;

        &:hover {
          background: none;
          border: none;
        }

      }

      &:hover{
        cursor: pointer;
      }

    }
  }
}