<div class="rcDatepicker">
	<label for="period">{{ label }}</label>
	<div class="input-group icon-right">
		<div ng-show="status.opened" class="datepickerInfo">
			<p>legenda:</p>
			<ul>
				<li class="toConcilie">
					<span>existem operações à conciliar</span>
				</li>
				<li class="concilied">
					<span>operações do dia conciliadas</span>
				</li>
				<li class="unprocessed">
					<span>pagamentos não efetuados</span>
				</li>
			</ul>
		</div>
		<input
			type="text"
			datepicker-popup="{{dateFormat}}"
			ng-model="date"
			is-open="status.opened"
			datepicker-options="dateOptions"
			accept=""close-text="Fechar"
			clear-text="Limpar"
			current-text="Data atual"
			ng-click="open()"
			show-button-bar="false"
			min-date="minDate"
			readonly="readonly"
			required />
		<span class="input-group-addon icon_calendario"></span>
	</div>
</div>
