<div class="modal-header">
    <h3 class="modal-title">
        <span class="modal-header-text">limite de downloads atingido</span>
        <button class="close" ng-click="close()">
            <i class="icon_fechar"></i>
        </button>
    </h3>
</div>
<div>
    <div class="modal-body">
        <p>
            O limite máximo de 5 downloads foi atingido. Aguarde que downloads em andamento
            finalizem. De acordo com a necessidade, selecione <strong>limpar</<strong> ou
            <strong>cancelar</strong> para downloads existentes. Ou ainda, selecione
            <strong>limpar tudo</strong> ao final da listagem.
        </p>
    </div>
</div>
