<div class="rcDatepicker">
	<label for="{{directiveId}}">{{ label }}</label>
	<div class="form-group icon-right">
        <div class="input-group">
			<a ng-click="open()" class="placeholder">{{datePlaceholder}}</a>
            <input
                type="text"
                class="form-control"
				id="{{directiveId}}"
                uib-datepicker-popup="{{dateFormat}}"
    			ng-model="pickerDate"
				ng-change="update()"
    			is-open="status.opened"
				datepicker-popup-template-url="app/views/directives/rc-datepicker-popup-v2.html"
				close-on-date-selection="{{closeOnSelection}}"
    			datepicker-options="dateOptions"
    			ng-click="open()"
    			show-button-bar="false"
    			readonly="readonly"
    			required />
            <span class="input-group-addon icon_calendario"></span>
        </div>
	</div>
</div>
