<div class="timeline-wrapper">
    <ul class="timeline-head">
        <li>
            {{labelInitialValue}} <br>
            <span ng-if="dateRange">{{ dateRange }}</span>
        </li>
        <li>
            {{labelFinalValue}}<br>
            <span ng-if="maxDateRange">{{maxDateRange}}</span>
        </li>
    </ul>
    <ul class="total {{cssClass}}">
        <li ng-class="{gray: initialValue <= 0}">
            <span class="money" ng-if="monetaryValues">R$</span>
            <span ng-if="monetaryValues">{{ initialValue | currency: "" }}</span>
            <span ng-if="!monetaryValues">{{ initialValue | number }}</span>
        </li>
        <li class="gray">
            <span class="money" ng-if="monetaryValues">R$</span>
            <span ng-if="monetaryValues">{{ finalValue | currency: "" }}</span>
            <span ng-if="!monetaryValues">{{ finalValue | number }}</span>
        </li>
    </ul>
    <div class="row">
        <div class="timeline-block {{cssClass}}">
            <div class="percent {{fullClass}}" style="width:{{timeLinePercentage}}%">
                <article ng-class="{small: initialValue <= 0}">
                    <aside ng-if="initialValue !== 0 || finalValue !== 0" ng-class="{gray: initialValue == 0, 'minimum-value': timeLinePercentage <= 8}" style="width:10px{{timeLinePercentage==0 ? ';right:-10px' : ''}}">
                        {{ timeLinePercentageLabel }}
                    </aside>
                </article>
            </div>
        </div>
        <div ng-if="totalValue && labelTotalValue" class="timeline-footer">
            <p>{{labelTotalValue}}: {{totalValue | number}}</p>
        </div>
    </div>
</div>
