<div class="timeline-wrapper">
    <ul class="timeline-head">
        <li>
            Lançamentos no período selecionado <br>
            <span>
                {{ dateRange }}
            </span>
        </li>
        <li>
            Total de lançamentos previstos no próximo ano<br>
            <span>{{maxDateRange}}</span>
        </li>
    </ul>
    <ul class="total">
        <li ng-class="{gray: initialValue <= 0}">
            <span>R$</span>
            {{ initialValue | currency: "" }}
        </li>
        <li class="gray">
            <span>R$</span>
            {{ finalValue | currency: "" }}
        </li>
    </ul>
    <div class="timeline-block">
        <div class="percent" style="width:{{(timeLinePercentage | number: 2).split(',').join('.')}}%">
            <article>
                <aside ng-class="{gray: initialValue <= 0}" ng-if="finalValue > 0">
                    <ng-show ng-if="timeLinePercentage != 0 && timeLinePercentage != 100">{{ timeLinePercentage | number: 2 }}</ng-show>
                    <ng-show ng-if="timeLinePercentage == 0 || timeLinePercentage == 100">{{ timeLinePercentage }}</ng-show>
                    % do valor
                </aside>
            </article>
        </div>
    </div>
</div>