<section class="relatorio" id="relatorio">
    <div uib-alert ng-repeat="alert in alerts" ng-class="{{alert.type}}">{{alert.msg}}</div>
    <ul class="indicators" id="reportIndicators">
        <li ng-class="{'active': adjustType[0] == 'CANCELLATION'}">
            <a href="javascript:void(0);" ng-click="updateIndicator('CANCELLATION')">
                <div class="legend">
                    <p>cancelamentos</p>
                </div>
                <div class="value">
                    <p>{{cancelled}}</p>
                </div>
            </a>
        </li>

        <li ng-class="{'active': adjustType[0] == 'CHARGEBACK'}">
            <a href="javascript:void(0);" ng-click="updateIndicator('CHARGEBACK')">
                <div class="legend">
                    <p>chargebacks</p>
                </div>
                <div class="value">
                    <p>{{chargebacks}}</p>
                </div>
            </a>
        </li>
    </ul>

    <div id="primaryContent">
		<div class="tabsContainer">
			<div class="tabItem" id="relatorio_chargeback">
                <div class="hiddenContentWrapper">
                    <a id="advancedButton" href="javascript:void(0);" class="advancedButton active" onclick="javascript:toggleReport();">filtrar</a>
                    <div class="hiddenContentReport advancedFilterHiddenContent" style="display: block;">
                        <article class="filter">
                            <form>
                                <fieldset>
                                    <div class="filterShiny">
                                        <ul>
                                            <li class="itauicon-itaufonts_calendario">
                                                <input type="text" class="disabled input-date" uib-datepicker-popup="{{format}}" ng-model="initialDate" is-open="openFirst" datepicker-options="dateOptions" ng-required="true" ng-change="ChangeInitialDate(initialDate)" close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirst = true" datepicker-append-to-body="false" readonly="true" />
                                                <label for="" class="at">Até</label>
                                                <input type="text" class="disabled input-date"
                                                    uib-datepicker-popup="{{format}}" ng-model="finalDate" is-open="openLast"
                                                    datepicker-options="dateOptions" ng-required="true" ng-change="ChangeFinalDate(finalDate)"
                                                    close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLast = true"  style="background:transparent;margin-left:-35px;padding-left:40px!important;" datepicker-append-to-body="false" readonly="true"/>
                                            </li>
                                            <li class="itauicon-itaufonts_para_empresa">
                                                <input id="buscaTerminal" name="buscaSettlement" type="text" placeholder="{{GetPlaceholder(settlementsSelected)}}"
                                                    ng-model="settlement"
                                                    typeahead-on-select="AddSettlementsSearch(settlement)" typeahead-min-length="0"
                                                    uib-typeahead="item as item.code for item in GetSettlements() | filter:$viewValue"/>
                                                <ul ng-repeat="item in settlementsSelected">
                                                  <li>
                                                    <h4>{{item.code}}</h4>
                                                    <a class="removeSettlementsSearch" href="javascript:void(0);" ng-click="RemoveSettlementsSearch(item)">Fechar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                                <div class="submitButtons">
                                    <input type="submit" ng-click="clearFilter()" value="limpar">
                                    <input type="submit" ng-click="getReport()" value="filtrar">
                                </div>
                                <br />
                            </form>
                        </article>
                    </div>
                </div>


                <div id="details" class="sales">
                    <table cellpadding="0" cellspacing="0" class="sortTable" ng-show="items.length">
            			<thead>
            				<tr class="taleft">
                                <th ng-click="sortResults($event,'adjustDate')">
                                    data do {{tableName}}
            					</th>
                                <th ng-click="sortResults($event,'cardProduct.name')">
                                    bandeira / tipo de venda
                                </th>
                                <th ng-click="sortResults($event,'acquirer.name')">
                                   adquirente
                                </th>
                              <th ng-click="sortResults($event,'amount')">
            						valor da venda (R$)
            					</th>
                              <th ng-click="sortResults($event,'id')">
            						total de vendas
			                   </th>
            				</tr>
            			</thead>
            			<tbody id="cupomVendasTour">
            				<tr ng-repeat="item in items" ng-class-odd="'odd'">
                                <td>{{item.date | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.cardProduct.name}}</td>
                                <td>{{item.acquirer.name}}</td>
                            	<td>{{item.cancelledAmount | currency:""}}</td>
                            	<td>{{item.quantity}}</td>
            				</tr>
            			</tbody>
            		</table>

					<span class="alert" ng-if="noItensMsg">Não existem dados/registros para o filtro selecionado</span>

                  <div class="footer" ng-show="items.length">
						<div class="optionsWrapper">
							<div class="selectWrapper">
								<label for="totalItensPage">resultados por página</label>
								<div class="select">
                                    <select ng-model="totalItensPage"
                                        ng-change="totalItensPageChanged()"
                                        ng-options="option for option in totalItensPageOptions"
                                        id="totalItensPage">
                                    </select>
								</div>
							</div>

							<div class="paginationWrapper">
								<ul uib-pagination total-items="totalItens" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" items-per-page="totalItensPage" rotate="false" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
								</ul>
							</div>

                            <!-- <div class="export-report-sales">
                                <strong>Exportar como:</strong>
                                <ul>
                                    <li><a href="#"><img src="/assets/img/ico-excel.png" alt=""></a></li>
                                </ul>
                            </div> -->
						</div>
					</div>
                </div>
			</div>
		</div>
    </div>
</section>
