<script type="text/ng-template" id="cartaCancelamento.html">
    <div class="tabelaDetalhamentoModal gestaoModal">
	<div class="modal-header">
    	<h3>CARTAS DE CANCELAMENTO</h3>
		<form id="inputSearch">
		<input id="search" type="text" placeholder="BUSCAR" />
		<input type="submit" />
		</form>
		<button class="icon-close" ng-click="cancel()"></button>
    </div>
    <div class="modal-body">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<!--th>D. VENDA</th-->
					<th>D. LIMITE</th>
					<th>LOJA</th>
					<th>OPERADORA</th>
					<th>NSU</th>
					<th>AUTORIZ.</th>
					<th>CARTÃO</th>
					<th>V. DA VENDA</th>
					<th>MOTIVO</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="itens.length == 0">
					<td colspan="8">Não existem dados/registros para o filtro selecionado</td>
				</tr>
				<tr ng-repeat="item in itens" ng-show="itens.length > 0">
					<!--td>{{item.dateTransaction | date:'dd/MM/yyyy'}}</td-->
					<td>{{item.requestDateLimit | date:'dd/MM/yyyy'}}</td>
					<td>{{item.settlementName}}</td>
					<td>{{item.acquirerName}}</td>
					<td>{{item.nsu}}</td>
					<td>{{item.authorization}}</td>
					<td>{{item.cardNumber}}</td>
					<td><i ng-bind-html='currencySymbol'></i> {{item.gross | currency:""}}</td>
					<td>{{item.requestDescription.description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div class="modal-footer"></div>
	</div>
</script>
<script type="text/ng-template" id="listagemVendas.html">
    <div class="tabelaDetalhamentoModal gestaoModal gestaoFinanceiroModal">
	<div class="modal-header">
		<strong><b>{{dayOfActualDate}}</b> {{monthNameAbreviation}}</strong>
    	<h3>DETALHE DAS VENDAS</h3>
		<!--
			<form id="inputSearch">
			<input id="search" type="text" placeholder="BUSCAR" />
			<input type="submit" />
			</form>
		-->
		<h4>{{acquirerName}} / {{cardBrandName}} / <b>{{cardProductName}}</b></h4>
		<button class="icon-close" ng-click="cancel()"></button>
    </div>
    <div class="modal-body">
		<table cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th>
						D. VENDA
						<img id="date" src="app/img/default.png" data-ng-click="orderColumn('date')"/>
					</th>
					<th>
						D. CANCELAMENTO
						<img id="cancelDate" src="app/img/default.png" data-ng-click="orderColumn('cancelDate')"/>
					</th>
					<th>
						NSU
						<img id="nsu" src="app/img/default.png" data-ng-click="orderColumn('nsu')"/>
					</th>
					<th>
						AUTORIZAÇÃO
						<img id="authorization" src="app/img/default.png" data-ng-click="orderColumn('authorization')"/>
					</th>
					<th>
						TID
						<img id="tid" src="app/img/default.png" data-ng-click="orderColumn('tid')"/>
					</th>
					<th>
						CARTÃO
						<img id="cardNumber" src="app/img/default.png" data-ng-click="orderColumn('cardNumber')"/>
					</th>
					<th>
						PLANO
						<img id="installment" src="app/img/default.png" data-ng-click="orderColumn('installment')"/>
					</th>
					<th>
						CHAVE ERP
						<img id="erpId" src="app/img/default.png" data-ng-click="orderColumn('erpId')"/>
					</th>
					<th>
						VALOR BRUTO
						<img id="gross" src="app/img/default.png" data-ng-click="orderColumn('gross')"/>
					</th>
					<th>
						VALOR CANCELADO
						<img id="canceledAmount" src="app/img/default.png" data-ng-click="orderColumn('canceledAmount')"/>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="itensDetalheVenda.length == 0">
					<td colspan="10">Não existem dados/registros para o filtro selecionado</td>
				</tr>
				<tr ng-repeat="item in itensDetalheVenda" ng-click="comprovanteVenda(item)">
					<td>{{item.date | date:'dd/MM/yyyy'}}</td>
					<td>{{item.cancelDate | date:'dd/MM/yyyy'}}</td>
					<td>{{item.nsu}}</td>
                	<td>{{item.authorization}}</td>
                	<td>{{item.tid}}</td>
                	<td>{{item.cardNumber}}</td>
                	<td>{{item.installment}}</td>
                	<td>{{item.erpId}}</td>
					<td><i ng-bind-html='currencySymbol'></i> {{item.gross | currency:""}}</td>
                	<td><i ng-bind-html='currencySymbol'></i> {{item.canceledAmount | currency:""}}</td>
				</tr>
			</tbody>
		</table>
	</div>
    <div class="modal-footer">
		<ul class="archives" style="margin-bottom:-18px;">
			<li class="pdf"><a data-ng-click="gerarPDF()"></a></li>
			<li class="xls"><a data-ng-click="gerarXLS()"></a></li>
			<li class="csv"><a data-ng-click="gerarCSV()"></a></li>
		</ul>
		<pagination total-items="totalItens" ng-model="currentPage" ng-change="pageChanged()"
					max-size="maxSize"  items-per-page="totalItensPage" rotate="false"
					class="pagination-sm" boundary-links="true"
					previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
		</pagination>
		<div class="select">
		<select class="selectPage" ng-model="totalItensPage" ng-change="alterTotalItensPage()">
			<option value="10">10</option>
			<option value="20">20</option>
			<option value="50">50</option>
        </select>
		</div>
	</div>
	</div>
</script>
<script type="text/ng-template" id="comprovanteVenda.html">
<div class="cupom">
	<button class="print">Imprimir</button>
		<button class="icon-close" ng-click="cancel()"></button>
	<div class="modal-header">
    	<h3 class="modal-title">{{item.acquirerName}}</h3>
		<h3 class="">
			{{item.cardNumber}}
		</h3>
    </div>
    <div class="modal-body">
		{{item.date | date: 'dd/MM/yyyy'}}
		<span class="cupomHour">HORA: {{item.hour | date: 'HH:mm:ss'}}</span>
		<br/>
       	NSU: {{item.nsu}}
		<br/>
		AUTORIZAÇÃO: {{item.authorization}}
		<br/>
		MAQUINETA: {{item.terminalName}}
		<br/>
		BANDEIRA: {{item.cardBrandName}}
		<br/>
		PRODUTO: {{item.cardProductName}}
		<br/>
		LOJA: {{item.settlementName}}
		<br/>
		VALOR BRUTO: <i ng-bind-html='currencySymbol'></i> {{item.gross | currency: ''}}
		<br/>
		VALOR LÍQUIDO: <i ng-bind-html='currencySymbol'></i> {{item.net | currency: ''}}
		<br/><br/>
		<label ng-show="installments.length > 0">PARCELAS:</label>
    	<div ng-repeat="parcela in installments">
			{{parcela.number}} {{parcela.expectedDate | date: 'dd/MM/yyyy'}} <i ng-bind-html='currencySymbol'></i> {{parcela.gross | currency: ''}}
		</div>
    	</div>
    	<div class="modal-footer">
	</div>
</div>
</script>
<a href="javascript:sidebar();" class="botaoAside"><span>consulta de vendas</span></a>
<section id="conciliacao" class="gestao">
    <hgroup id="gestaoTuor">
      <h2>Gestão</h2>
    </hgroup>
    <div class="date">
      <h2>
        <time datetime="nov/2013">{{actualDateSelected}}</time>
      </h2>
    </div>
    <br />
    <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
    <div class="selectCalendar" id="gestaoCalendarTour">
    <a class="prev" href="javascript:void(0);" ng-click="prevYear()">Anterior</a>
    <a class="next" href="javascript:void(0);" ng-click="nextYear()">Próxima</a>
    <h3><b>{{dayOfActualDate}}</b>{{monthNameAbreviation}}<a ng-click="returnToActualMonth()">Selecione o mês</a></h3>
        <div class="slider">
          <div>
          	<!-- h3>{{slide.year}}</h3 -->
              <tabset>
    	<tab ng-repeat="month in months" active="month.active" data-ng-click="filterByMonth($index, month.year); tabs[0].active = true">
    	<tab-heading>
    		<span ng-class="{'oneItem': month.oneItem, 'canceladas': month.toCancelations, 'chargeback': month.toChargeback}">{{month.month}}</span>
    	</tab-heading>
    	<ul>
    		<li ng-class="{'canceladas': day.toCancelations, 'chargeback': day.toChargeback,
    					   'ativo': day.isActive, 'oneItem': day.oneItem}"
    					   ng-repeat="day in itens">
    			<a ng-if="day.isActiveButton" data-ng-click="changeDay(day.dateCancellation); tabs[1].active = true">{{day.dateCancellation | date:'dd'}}</a>
    			<label ng-if="!day.isActiveButton" ng-class="{'disabled': day.toCancelations || day.toChargeback}">
    				{{day.dateCancellation | date:'dd'}}
    			</label>
    		</li>
    	</ul>
    </tab>
  </tabset>
          </div>
        </div>

    <a id="advancedButton" href="javascript:void(0);" onclick="javascript:toggle();">Filtro Avançado</a>
  </div>

  <div class="hiddenContent advancedFilterHiddenContent">
  <h3>Filtro Avançado</h3>
  	<form>
  		<fieldset>
  			<ul>
  			<span>
  				<!-- loja -->
  				<li>
  					<ul class="grandChild halfWidthList terminalList">
  						<li>
  						<label for="buscaTerminal">Loja</label>
  							<input id="buscaTerminal" name="buscaSettlement" type="text" placeholder="{{getPlaceholder(settlementsSelected)}}"
  								ng-model="settlement" typeahead-append-to-body="true"
  							    typeahead-on-select="addSettlementsSearch(settlement)"
						        typeahead="item as item.name for item in getSettlements() | filter:$viewValue"/>
  							<ul>
  								<li ng-repeat="item in settlementsSelected"><h4>{{item.name}}, {{item.cnpj}}</h4><a href="javascript:void(0);" ng-click="removeSettlementsSearch(item)">Fechar</a></li>
  							</ul>
  						</li>
  					</ul>
  				</li>
  				<li>
  					<label for="natureza">Tipo de terminal</label>
  					<ul class="child">
  						<li>
  							<label for="terminalTodos">Todos</label>
  							<input id="terminalTodos" name="tipoTerminal" type="radio" value="0" ng-model="tipoTerminal"/>
  						</li>
  						<li>
  							<label for="terminalPos">POS</label>
  							<input id="terminalPos" name="tipoTerminal" type="radio" value="2" ng-model="tipoTerminal"/>
  						</li>
  						<li>
  							<label for="terminalTef">TEF</label>
  							<input id="terminalTef" name="tipoTerminal" type="radio" value="1" ng-model="tipoTerminal"/>
  						</li>
  						<li>
  							<label for="terminalEcommerce">E-Commerce</label>
  							<input id="terminalEcommerce" name="tipoTerminal" type="radio" value="3" ng-model="tipoTerminal"/>
  						</li>
  						<br />
  					</ul>
                    <!--
  					<ul class="grandChild fullWidthList">
  						<li class="terminalFilter">
  							<label for="buscaTerminal">Terminal</label>
  							<input id="buscaTerminal" name="buscaTerminal" type="text" placeholder="{{getPlaceholder(terminalsSelected)}}"
  							 	ng-model="terminal" typeahead-append-to-body="true"
  							    typeahead-on-select="addTerminalsSearch(terminal)"
						        typeahead="item as item.name+', '+item.terminalCode for item in getTerminals() | filter:$viewValue | filter:tipoTerminal"/>
  							<ul>
  								<li ng-repeat="item in terminalsSelected"><h4>{{item.name}}</h4><span><b>Tipo:</b> {{item.terminalType}}</span><b>Código: </b>{{item.terminalCode}}
  								<a href="javascript:void(0);" ng-click="removeTerminalsSearch(item)">Fechar</a></li>
  							</ul>
  						</li>
  					</ul>
                    -->
  				</li>
  				</span>
  				<!-- natureza -->
                <!--
  				<li class="extendPlaceholders">
  					<ul class="grandChild">
  						<li class="bandeiraFilter">
  							<label for="naturezaOperadora">Operadora</label>
  							<input id="naturezaOperadora" name="naturezaOperadora" type="text" placeholder="{{getPlaceholder(acquirersSelected)}}"
  							   ng-model="acquirer" typeahead-append-to-body="true"
  							   typeahead-on-select="addAcquirerSearch(acquirer)"
						       typeahead="item as item.name for item in getAcquirers() | filter:$viewValue"/>
  							<ul>
  								<li ng-repeat="item in acquirersSelected">{{item.name}}<a href="javascript:void(0);" ng-click="removeAcquirerSearch(item)">Excluir</a></li>
  							</ul>
  						</li>
  						<li class="bandeiraFilter">
  							<label for="naturezaBandeira">Bandeira</label>
  							<input id="naturezaBandeira" name="naturezaBandeira" type="text" placeholder="{{getPlaceholder(brandsSelected)}}"
  							  	 ng-model="brand" typeahead-append-to-body="true"
  							  	 typeahead-on-select="addBrandsSearch(brand)"
						        typeahead="item as item.name for item in getBrands() | filter:$viewValue"/>
  							<ul>
  								<li ng-repeat="item in brandsSelected">{{item.name}}<a href="javascript:void(0);" ng-click="removeBrandsSearch(item)">Excluir</a></li>
  							</ul>
  						</li>
  						<li class="bandeiraFilter">
  							<label for="naturezaProduto">Produto</label>
  							<input id="naturezaProduto" name="naturezaProduto" type="text" placeholder="{{getPlaceholder(productsSelected)}}"
  							  	ng-model="product" typeahead-append-to-body="true"
  							  	typeahead-on-select="addProductsSearch(product)"
						        typeahead="item as item.name for item in getProducts() | filter:$viewValue"/>
  							<ul>
  								<li ng-repeat="item in productsSelected">{{item.name}}<a href="javascript:void(0);" ng-click="removeProductsSearch(item)">Excluir</a></li>
  							</ul>
  						</li>
  					</ul>
  				</li>
                -->
  				<br />
  			</ul>
  			<input type="submit" ng-click="filterAdvancedGestao()"/>
  			<input type="submit" ng-click="clearAdvancedFilterGestao()" value="Limpar"/>
  		</fieldset>
  	</form>
  </div>
  <div id="primaryContent">
  <tabset>
    <tab heading="RESUMO DO MÊS" active="tabs[0].active" >
		<article id="resumoDoMes">
		<article id="conciliacaoMes">
		<h2>Chargebacks &amp; Cancelamentos</h2>
		<ul>
			<li>
				<button ng-click="botaoModal()">Cartas de cancelamento</button>
				<em>{{totalCopyRequest}}</em>
			</li>
		</ul>
    	<div id="conciliacaoGraph">
    		<div id="graficoGestaoTour">
    			<highchart config="chartCancelations"></highchart>
    		</div>
    	</div>
    	<table cellpadding="0" cellspacing="0">
	    	<col class="resumoDia"></col>
	    	<col span="2" class="resumoCancelamentos"></col>
	    	<col span="2" class="resumoChargebacks"></col>
    		<thead class="conciliacaoTitle" id="tabelaGestaoTuor">
    			<tr>
	    			<th>Dia</th>
	    			<th colspan="2">Cancelamentos</th>
	    			<th colspan="2">Chargebacks</th>
    			</tr>
    		</thead>
    		<thead>
    			<tr>
	    			<th>&nbsp;</th>
	    			<th>Quant.</th>
	    			<th>Valor</th>
	    			<th>Quant.</th>
	    			<th>Valor</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="item in itens" id="diaGestaoTour">
    				<td>{{item.dateCancellation | date: 'dd'}} {{item.dateCancellation | date:'EEE'}}</td>
    				<td data-ng-click="loadGestaoDiaForDaySelected(item.dateCancellation, 1); tabs[1].active = true ">{{item.quantityCancellations}}</td>
    				<td data-ng-click="loadGestaoDiaForDaySelected(item.dateCancellation, 1); tabs[1].active = true "><i ng-bind-html='currencySymbol'></i> {{item.totalAmountCancellations | currency:""}}</td>
    				<td data-ng-click="loadGestaoDiaForDaySelected(item.dateCancellation, 2); tabs[1].active = true ">{{item.quantityChargeback}}</td>
    				<td data-ng-click="loadGestaoDiaForDaySelected(item.dateCancellation, 2); tabs[1].active = true "><i ng-bind-html='currencySymbol'></i> {{item.totalAmountChargeback | currency:""}}</td>
    			</tr>
    			<tr class="totais">
	   				<td>Totais</td>
	   				<td>{{sumOfQuantityCancellations}}</td>
	   				<td><i ng-bind-html='currencySymbol'></i> {{sumOfTotalAmountCancellations | currency:""}}</td>
	   				<td>{{sumOfQuantityChargebacks}}</td>
	   				<td><i ng-bind-html='currencySymbol'></i> {{sumOfTotalAmountChargebacks | currency:""}}</td>
	   			</tr>
    		</tbody>
    	</table>

    </article>
    <ul class="archives" style="margin-top:-15px;">
		<li class="pdf"><a data-ng-click="gerarPDF()">PDF</a></li>
		<li class="xls xlsGestao"><a data-ng-click="gerarXLS()">XLS</a></li>
	</ul>
    </article>

	</tab>
    <tab heading="GESTÃO DO DIA" active="tabs[1].active" select="loadingGestaoDia()">
      <article id="resumoMes" ng-class="{'canceladas': statusCancelamento, 'chargebacks': !statusCancelamento}">
			<h2>{{statusCancelamentoName}}<a href="javascript:void(0);" class="help" data-ng-click="help()">Ajuda</a></h2>
		    <ul class="gestaoButtons">
		    	<li ng-class="{'active': statusCancelamento}">
		    		<button ng-click="updateItensAccordion(1)">Canceladas</button>
		    		<em>{{totalCancellationForDay}}</em>
		    	</li>
		    	<li ng-class="{'active': !statusCancelamento}">
		    		<button ng-click="updateItensAccordion(2)">Chargebacks</button>
		    		<em>{{totalChargebackForDay}}</em>
		    	</li>
		    </ul>
		<hgroup>
			<h3>OPERADORA</h3>
			<h3>VENDAS</h3>
			<h3>TOTAL</h3>
		</hgroup>
		<span class="alert" ng-show="noItensMsg">Não existem dados/registros para o filtro selecionado</span>
			<accordion ng-repeat="item in itensAccordion">
				<accordion-group>
					<accordion-heading>
							<strong>{{item.name}}</strong>
 							<b>{{item.quantity}}</b>
 							<em><i ng-bind-html='currencySymbol'></i> {{item.totalAmount | currency:''}}</em>
					</accordion-heading>
					<accordion ng-repeat="cardBrand in item.cardBrandDTOs">
						<accordion-group class="aberto">
							<accordion-heading>
								<strong>
									<input type="checkbox" ng-model="cardBrand.itemCheck" ng-change="checkCardBrand(cardBrand, item)" ng-show="isVisibleCheckbox()"/>
							    	{{cardBrand.name}}
							    </strong>
							    <b>
							    	<!-- <a data-ng-click="detailTransactions(actualDate, statusIdConciliacao, item.id, cardBrand.id, 0)"> -->
							    	{{cardBrand.quantity}}
							    </b>
							    <em><i ng-bind-html='currencySymbol'></i> {{cardBrand.totalAmount | currency:""}}</em>
							</accordion-heading>
							<table cellpading="0" cellspacing="0">
								<tr ng-repeat="cardProduct in cardBrand.cardProductDTOs" ng-click="openTransactionsList(cardProduct, cardBrand, item)">
									<td>{{cardProduct.name}}</td>
									<td>{{cardProduct.quantity}}</td>
									<td><i ng-bind-html='currencySymbol'></i> {{cardProduct.totalAmount | currency:""}}</td>
								</tr>
							</table>
						</accordion-group>
					</accordion>
				</accordion-group>
			</accordion>
    </article>
  </tab>
  </tabset>
  </div>
</section>
