<section id="faq">
	<ol class="breadCrumb">
		<li>você está em:</li>
        <li><a href="#/home">home</a></li>
		<li><a href="#/help">ajuda</a></li>
	</ol>

	<div class="date">
		<h2>dúvidas frequentes</h2>
	</div>

	<br />
{{alert.msg}}
	<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>

	<div class="videogular-container">
	    <videogular vg-theme="video.theme">
	        <vg-media vg-src="video.sources"
	            vg-tracks="video.tracks">
	        </vg-media>
	        <vg-controls
				vg-autohide="video.plugins.controls.autoHide"
				vg-autohide-time="video.plugins.controls.autoHideTime">
	            <vg-play-pause-button></vg-play-pause-button>
	            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
	            <vg-scrub-bar>
	                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
	            </vg-scrub-bar>
	            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
	            <vg-volume>
	                <vg-mute-button></vg-mute-button>
	                <vg-volume-bar></vg-volume-bar>
	            </vg-volume>
	            <vg-fullscreen-button></vg-fullscreen-button>
	        </vg-controls>
			<vg-overlay-play></vg-overlay-play>
			<vg-poster vg-url='video.plugins.poster'></vg-poster>
	    </videogular>
	</div>

    <accordion close-others="true">
        <accordion-group heading="Como concilio minhas vendas?">
            Na aba <i>Vendas</i>, selecione a data que deseja conciliar e que esteja com o indicador amarelo. Em seguida, você terá duas formas de concilição:

			<ul>
				<li><strong>Total de cada bandeira:</strong> Selecione a bandeira desejada e em seguida clique em <i>conciliar [quantidade] vendas selecionadas</i></li>
				<li><strong>Venda a venda, por bandeira:</strong> Clique na bandeira desejada e terá acesso ao detalhe de cada transação. Em seguida, selecione as vendas que deseja conciliar e então clique em <i>conciliar [quantidade] vendas selecionadas</i></li>
			</ul>
        </accordion-group>
        <accordion-group heading="O que são os incadores coloridos abaixo de cada dia?">
            É o conceito semáforo. Com ele você tem uma visão rápida de quais dias você possui vendas a conciliar ou já conciliadas. Dias com o sinal verde significa que você não tem pendências naquela data, já os dias com o sinal amarelo, indica que você possui vendas a conciliar.
        </accordion-group>
        <accordion-group heading="Como posso visualizar meus recebimentos de hoje?">
            Na aba <i>recebimentos</i> você tem acesso aos seus recebimentos do dia atual e também o batimento dos valores previstos com o que foi realizado. Além disso, na parte superior da tela, você pode escolher outra data que queira visualizar.
        </accordion-group>
        <accordion-group heading="Como faço para ter a relação de todas as minhas vendas de um período específico?">
            Na aba <i>relatórios</i>, selecione a opção <i>vendas</i>. Selecione os filtros que deseja, como por exemplo período, loja ou produto e então clique em <i>filtrar</i>. Serão apresentadas todas as suas vendas, de acordo com os critérios definidos.
        </accordion-group>
    </accordion>

</section>
