<div id="login">
	<form id="loginForm" novalidate>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
		<label for="emailLogin">E-mail</label>
		<input id="emailLogin" type="text" ng-model="login" ng-required />
		<label for="senha">Senha</label>
		<input id="senha" type="password" ng-model="password" type="password" ng-required />

		<a href="https://www.userede.com.br/pt-br/novoacesso/Paginas/RecuperacaoSenhaIdentificacao.aspx" target="_blank">esqueci minha senha</a>
        <!--<a href="https://www.userede.com.br/nossos-produtos/controlrede" target="_blank">cadastre-se agora!</a>-->

		<div class="buttonWrapper">
            <button ng-click="validarLogin()" ng-disabled="loginForm.$invalid" class="btn btn-primary scrollfade-md animated fadeInUp">entrar</button>
		</div>
	</form>
</div>
