<section class="financas" id="financeiro">

    <div class="date">
        <h2>
        <time datetime="nov/2013">{{monthSelected}} {{yearSelected}}</time>
      </h2> </div>
    <div class="page-title">recebimentos</div>
    <div id="receipts">
        <div id="headerTabs" class="filter-depth container">
            <uib-tabset active="activeReceipts">
                <uib-tab heading="últimos lançamentos" select="changeTab(0)">
                    <h3>utilize os campos abaixo para filtrar sua busca:</h3>
                    <div class="filtersWrapper">
                        <div class="receipts_present_filters">
                            <div class="filter">
                                <rc-datepicker date="actualReleases.date" max-date="todayDate" label="'data'"></rc-datepicker>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'conta'" model="accountsModel" data="accountsData" placeholder="'selecione a conta'" single-selection="2"></rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'bandeira'" model="cardProductsModel" data="cardProductsData" placeholder="'selecione as bandeiras'" button-max-items="2" ></rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'número do estabelecimento'" model="shopsModel" data="shopsData" placeholder="'selecione os estabelecimentos'"></rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'adquirente'" model="acquirersModel" data="acquirersData" placeholder="'selecione as adquirentes'" button-max-items="3"></rc-multiselect>
                            </div>
                            <div class="filter">
                                <input type="submit" value="buscar" class="btn btn-primary btn-block" ng-href='#here' ng-click="getReceipt()" />
                            </div>
                        </div>
                    </div>

                    <!-- LANCAMENTOS ATUAIS INIT -->
                    <article class="data-cards">
                        <div class="expectedReleases">
                            <table ng-if="existsForethought" id="receipts_table">
                                <tr class="group" ng-show="existsForethought">
                                    <th id="pagamentosNaoRecebidosTitleColumn">existem recebimentos não efetuados nesta data</th>
                                    <th>
                                        <a ng-click="showDetails(1, cardProduct, cardProduct.total, cardProduct.status, 'expected_details')">detalhes</a>
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="header-datas">
                            <div class="date">
                                <span class="number">{{actualReleases.day}}</span>
                                <br>{{actualReleases.month}} </div>
                            <div class="chip-wrapper">
                                <div class="chip" ng-show="accountsLabel">
                                    <span>
                                        {{ accountsLabel }}
                                    </span>
                                </div>
                                <div class="chip can-close" ng-show="shopsLabel" ng-class="shopsLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <span>
                                        {{ shopsLabel }}
                                    </span>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearShopFilter()"></div>
                                    <span class="rc-tooltip">
                                        {{ shopsFullLabel }}
                                    </span>
                                </div>
                                <div class="chip can-close" ng-show="cardProductsLabel" ng-class="cardProductsLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <span>
                                        {{ cardProductsLabel }}
                                    </span>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearCardProductsFilter()"></div>
                                    <span class="rc-tooltip">
                                        {{ cardProductsFullLabel }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="numbers-data">
                            <ul>
                                <li id="toReceive">
                                    <strong>total a receber</strong>
                                    <span class="big-number"><span>R$</span> {{ totalToReceive | currency: "" }}</span>
                                </li>
                                <li class="math-symbol"><strong>{{ getDiscountedSignal(discountedTotal) }}</strong></li>
                                <li ng-class="discountedTotal > 0 ? 'addition' : 'discount'">
                                    <strong>
                                        total ajustes a crédito/débito
                                        <i class="itauicon-itaufonts_informacao">
                                            <span class="rc-tooltip up">Valor de ajustes a crédito/débito referem-se a valores creditados ou debitados provenientes de cancelamentos, chargebacks, tarifas, ajustes a crédito ou débito.</span>
                                        </i>
                                    </strong>
                                    <span class="big-number"><span>R$</span> {{ getDiscountedAbs(discountedTotal) | currency: ""}}</span>
                                </li>
                                <li class="math-symbol"><strong>+</strong></li>
                                <li class="addition">
                                    <strong>total antecipado</strong>
                                    <span class="big-number"><span>R$</span> {{ antecipatedTotal | currency: ""}}</span>
                                </li>
                                <li class="math-symbol"><strong>=</strong></li>
                                <li>
                                    <strong>total recebido</strong>
                                    <span class="big-number"><span>R$</span> {{ totalReceived | customCurrency: ""}}</span>
                                </li>
                            </ul>
                        </div>
                        <table ng-repeat="item in actualReleasesData" id="receipts_table">
                            <thead>
                                <tr>
                                    <th class="except">
                                    <th>{{ item.acquirer.name | uppercase }}</th>
                                    <th></th>
                                    <th>valor total: {{ item.payedAmount | currency }}</th>
                                </tr>
                            </thead>
                            <tbody ng-if="item.cardProducts.length">
                                <tr class="group">
                                    <th></th>
                                    <th>lançamentos</th>
                                    <th>valor líquido (R$)</th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tbody ng-repeat="cardProduct in item.cardProducts">
                                <tr class="card-product-line">
                                    <th class="except"></th>
                                    <th>
                                        <div class="cardFlag brand_{{ cardProduct.cardProductId }}"></div> {{ cardProduct.cardProductName | capitalize }}
                                    </th>
                                    <th>{{ cardProduct.total | customCurrency }}</th>
                                    <th>
                                         <a ng-hide="cardProduct.forethought" ng-click="showDetails(item.acquirer, cardProduct, cardProduct.total, cardProduct.status)">detalhes</a>
                                        <a ng-show="cardProduct.forethought" ng-click="showDetails(item.acquirer, cardProduct, cardProduct.total, cardProduct.status, 'forethought_details')">detalhes</a>
                                    </th>
                                </tr>
                                <tr ng-repeat="release in cardProduct.releases" class="inset {{ getClassByType(release.type, release.payedAmount) | slugify }}">
                                    <th></th>
                                    <th class="inset-1">{{ release.type }}</th>
                                    <th>
                                        {{ release.payedAmount | customCurrency }} </th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tr class="card-product-line" ng-show="item.otherReleases">
                                <th></th>
                                <th>outros lançamentos</th>
                                <th>{{ item.otherReleasesTotal | customCurrency }}</th>
                                <th>
                                    <a ng-click="showDetails(item.acquirer, cardProduct, cardProduct.total, cardProduct.status, 'other_details')">detalhes</a>
                                </th>
                            </tr>
                             <tbody ng-show="item.otherReleases">
                                <tr ng-repeat="otherRelease in item.otherReleases" class="inset cancelamentos">
                                    <th></th>
                                    <th class="inset-1">{{ otherRelease.description | lowercase}}</th>
                                    <th>{{ otherRelease.amount | customCurrency }} </th>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                        <span class="alert" ng-show="!actualReleasesData.length">Não existem dados/registros para o filtro selecionado</span>
                    </article>
                    <!-- LANCAMENTOS ATUAIS: END -->
                </uib-tab>
                <uib-tab heading="lançamentos futuros" select="changeTab(1)">
            		<h3>utilize os campos abaixo para filtrar sua busca:</h3>
            		<div class="filtersWrapper">
                        <div class="receipts_future_filters">
                            <div class="filter firstFilter">
                                <rc-datepicker class="halfSize" date="futureReleases.startDate" min-date="futureReleases.inicialStartDate" label="'data inicial'">
                                </rc-datepicker>
                                <rc-datepicker class="halfSize" date="futureReleases.endDate" min-date="futureReleases.startDate" label="'data final'">
                                </rc-datepicker>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'conta'" model="accountsFutureModel" data="accountsData" placeholder="'selecione a conta'" single-selection="2"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'bandeira'" model="cardProductsFutureModel" data="cardProductsData" placeholder="'selecione as bandeiras'" button-max-items="2"> </rc-multiselect>
                            </div>
                            <br>
                            <div class="filter">
                                <rc-multiselect label="'número do estabelecimento'" model="shopsFutureModel" data="shopsData" placeholder="'selecione os estabelecimentos'"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'adquirente'" model="acquirersFutureModel" data="acquirersData" placeholder="'selecione as adquirentes'" button-max-items="3"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <input type="submit" value="buscar" class="btn btn-primary btn-block" ng-href='#here' ng-click="getFutureReceipt()" />
                            </div>
                        </div>
            		</div>

                    <!-- LANCAMENTOS FUTUROS INIT -->
                    <article class="data-cards">
                        <div class="header-datas">
                            <div class="date-wrapper">
                                <div class="date future" ng-bind-html="to_trusted(futureReleases.dateRangeWithBr)"></div>
                            </div>
                            <div class="chip-wrapper">
                                <div class="chip" ng-show="accountsFutureLabel">
                                    <label>
                                        {{ accountsFutureLabel }}
                                    </label>
                                </div>
                                <div class="chip can-close" ng-show="shopsFutureLabel" ng-class="shopsFutureLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <label>
                                        {{ shopsFutureLabel }}
                                    </label>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearShopFilter(true)"></div>
                                </div>
                                <div class="chip can-close" ng-show="cardProductsFutureLabel" ng-class="cardProductsFutureLabel.length < 1 ? 'hidden-chip' : '' ">
                                    <label>
                                        {{ cardProductsFutureLabel }}
                                    </label>
                                    <div class="clear-filter itauicon-itaufonts_fechar" ng-click="clearCardProductsFilter(true)"></div>
                                </div>
                            </div>
                        </div>
                        <rc-timeline
                                label-initial-value="'Lançamentos no período selecionado'"
                                label-final-value="'Total de lançamentos previstos no próximo ano'"
                                monetary-values="true"
                                date-range="futureReleases.dateRange"
                                max-date-range="customTimelineExpectedAmount.maxDateRange"
                                initial-value="customTimelineExpectedAmount.expectedAmount"
                                final-value="timelineExpectedAmount.expectedAmount"
                                time-line-percentage="customTimelineExpectedAmount.percentage" ></rc-timeline>
                        <table ng-repeat="item in futureReleasesData" id="receipts_table">
                            <thead>
                                <tr>
                                    <th class="except">
                                    <th>{{ item.acquirer.name | uppercase }}</th>
                                    <th></th>
                                    <!-- /* Todo: alterar por adquirente */ -->
                                    <th colspan="3">valor total: {{ item.expectedAmount | customCurrency }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="group">
                                    <th></th>
                                    <th>lançamentos</th>
                                    <th></th>
                                    <th>valor líquido (R$)</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tbody ng-repeat="cardProduct in item.cardProducts">
                                <tr>
                                    <th class="except"></th>
                                    <th>
                                    <div class="cardFlag brand_{{ cardProduct.cardProductId }}"></div> {{ cardProduct.cardProductName | capitalize }} </th>
                                    <th></th>
                                    <th>{{ cardProduct.releases[0].expectedAmount | customCurrency }}</th>
                                    <th></th>
                                    <th><a ng-click="showDetails(item.acquirer, cardProduct, cardProduct.total, cardProduct.status, 'future_details')">detalhes</a></th>
                                </tr>
                            </tbody>
                        </table>
                        <span class="alert" ng-show="!futureReleasesData.length">Não existem dados/registros para o filtro selecionado</span>
                    </article>

                    <!-- LANCAMENTOS FUTUROS: END -->
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</section>
