<div id="receiptsDetailsPage">
	<section class="receiptsExpectedDetails future-details" id="receiptsDetails">

	<div id="detailsClose">
		<div class="container">
			<h3>lançamentos futuros | detalhes</h3>
			<button ng-click="back()"><i class="itauicon-itaufonts_fechar close-modal"></i></button>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="receiptsTopSeparator"></div>

	<article class="data-cards big">
		<div class="header-datas">
			<div class="date">
				<span class="number">
					{{dates.startDateDay}} {{dates.startDateMonth}} {{dates.startDateYear}} <br />a {{dates.endDateDay}} {{dates.endDateMonth}} {{dates.endDateYear}}
				</span>
			</div>
			<div class="chip-wrapper only-chip-on-header">
				<div class="chip" ng-if="accountsLabel">
					{{ accountsLabel }}
				</div>
				<div class="chip" ng-if="shopsLabel">
					{{ shopsLabel }}
				</div>
			</div>
		</div>

	</article>
	<ul class="wrapperAcquirerSummary">
		<li class="acquirer">{{ acquirer.name }}</li>
		<li class="cardProduct">
			<div class="cardFlag brand_{{cardProduct.cardProductId}}"></div>
			<span>{{cardProduct.cardProductName}}</span>
		</li>
		<li class="totalValue">
			<span class="valor-liquido">valor líquido a receber</span>
			<div class="value">
				<span>R$</span>
				<span class="totalDiscounted">{{ cardProduct.releases[0].expectedAmount | customCurrency: "" }}</span>
			</div>
		</li>
	</ul>

	<div class="mainContent" id="details">
		<table class="table sortTable gray-header">
			<thead>
				<tr>
					<th ng-click="sortResults($event, 'expectedDate')">
						data prevista <br>
						do recebimento
					</th>
					<th ng-click="sortResults($event, 'roDate')">
						data do lote (RV)
					</th>
					<th ng-click="sortResults($event, 'roNumber')">nº do lote (RV)</th>
					<th ng-click="sortResults($event, 'transactionQuantity')">
						qtd vendas <br>
						lote (RV)
					</th>
					<th ng-click="sortResults($event, 'gross')">
						valor total <br>
						do lote (RV)
					</th>
					<th ng-click="sortResults($event, 'expectedAmount')">
						valor líquido <br>
						do lote (RV)
					</th>
					<th ng-click="sortResults($event, 'sourcePvCode')">
						nº do estabelecimento <br>
						(PV)
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="details in detailsData">
					<td>{{ details.expectedDate | date: 'dd/MM/yyyy' }}</td>
					<td>{{ details.roDate | date: 'dd/MM/yyyy' }}</td>
					<td>{{ details.roNumber }}</td>
					<td>{{ details.transactionQuantity || "-" }}</td>
					<td>{{ details.gross | currency: ""}}</td>
					<td>{{ details.expectedAmount | currency: ""}}</td>
					<td>{{ details.sourceShopCode }}</td>
				</tr>
			</tbody>
		</table>
		<span class="alert" ng-show="!detailsData.length">Não existem dados/registros para o filtro selecionado</span>
		<div class="optionsWrapper">
			<div class="selectWrapper">
				<label for="totalItensPage">resultados por página</label>
				<div class="select">
					<select ng-model="totalItensPage"
							ng-change="pageChanged()"
							ng-options="option for option in totalItensPageOptions"
							id="totalItensPage">
					</select>
				</div>
			</div>
			<div class="paginationWrapper">
				<ul uib-pagination
						total-items="totalItens"
						ng-model="currentPage"
						ng-change="pageChanged()"
						max-size="maxSize"
						items-per-page="currentSize"
						rotate="false"
						class="pagination-sm"
						boundary-links="false"
						previous-text="&lsaquo;"
						next-text="&rsaquo;"
						first-text=" "
						last-text=" ">
				</ul>
			</div>
		</div>
	</div>
  	<rc-disclaimer></rc-disclaimer>
</section>
</div>
