<section class="financas" id="financeiro">
    <ol class="breadCrumb">
        <li>você está em:</li>
        <li><a href="#home">home</a></li>
        <li><a href="#receipts">recebimentos</a></li>
    </ol>

    <div class="date">
        <h2>
        <time datetime="nov/2013">{{monthSelected}} {{yearSelected}}</time>
      </h2> </div>
    <div class="page-title">recebimentos</div>
    <div id="receipts">
        <div id="headerTabs" class="filter-depth container">
            <tabset>
                <tab heading="últimos lançamentos" active="" ng-click="showActualContent()" select="changeTab(1)" id="botaoConciliacaoDiaTour">
                    <article>
                        <h3>utilize os campos abaixo para filtrar sua busca:</h3>
                        <div class="filtersWrapper">
                            <div class="filter">
                                <rc-datepicker date="actualReleases.date" label="'período'"> </rc-datepicker>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'conta'" model="accountsModel" data="accountsData" placeholder="'selecione a conta'" single-selection="2"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'bandeira'" model="cardProductsModel" data="cardProductsData" placeholder="'selecione as bandeiras'" button-max-items="2"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'número do estabelecimento'" model="shopsModel" data="shopsData" placeholder="'selecione os estabelecimentos'"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <rc-multiselect label="'adquirente'" model="acquirersModel" data="acquirersData" placeholder="'selecione as adquirentes'" button-max-items="3"> </rc-multiselect>
                            </div>
                            <div class="filter">
                                <input type="submit" value="buscar" class="btn btn-primary btn-block" ng-href='#here' ng-click="getReceipt()" />
                            </div>
                        </div>
                    </article>
                </tab>
                <tab heading="lançamentos futuros" active="" ng-click="showFutureContent()" select="changeTab(2)" id="botaoConciliacaoDiaTour">
                	<article>
                		<h3>utilize os campos abaixo para filtrar sua busca:</h3>
                		<div class="filtersWrapper">
                			<div class="filter firstFilter">
                			    <rc-datepicker class="halfSize" date="expected.tomorrowFromToday" label="'data inicial'">
                			    </rc-datepicker>

                			    <rc-datepicker class="halfSize" date="expected.lastdayOfCurrentMonth" label="'data final'">
                			    </rc-datepicker>
                			</div>
                			<div class="filter">
                			    <rc-multiselect label="'conta'" model="accountsModel" data="accountsData" placeholder="'selecione a conta'" single-selection="2"> </rc-multiselect>
                			</div>
                			<div class="filter">
                			    <rc-multiselect label="'bandeira'" model="cardProductsModel" data="cardProductsData" placeholder="'selecione as bandeiras'" button-max-items="2"> </rc-multiselect>
                			</div>
                			<div class="filter">
                			    <rc-multiselect label="'número do estabelecimento'" model="shopsModel" data="shopsData" placeholder="'selecione os estabelecimentos'"> </rc-multiselect>
                			</div>
                			<div class="filter">
                			    <rc-multiselect label="'adquirente'" model="acquirersModel" data="acquirersData" placeholder="'selecione as adquirentes'" button-max-items="3"> </rc-multiselect>
                			</div>
                			<div class="filter">
                			    <input type="submit" value="buscar" class="btn btn-primary btn-block" ng-href='#here' ng-click="getReceipt()" />
                			</div>
                		</div>
                	</article>

                </tab>
            </tabset>
        </div>
    </div>
    <div class="filter-depth container" id="receipts_body">
        <article class="data-cards">
            <div class="header-datas" ng-show="headerDataActual">
                <div class="date"> <span class="number">{{soldSummarie.day}}</span>
                    <br>{{soldSummarie.month}} </div>
                <div class="chip-wrapper">
                    <div class="chip" ng-show="accountsModel.id"> conta: {{accountsLabel}} </div>
                    <div class="chip" ng-show="shopsModel.length" ng-class="shopsLabel.length < 1 ? 'hidden-chip' : '' ">
                        {{shopsLabel}}
                        <div class="clear-filter" ng-click="clearShopFilter()">x</div>
                    </div>
                    <div class="chip" ng-show="cardProductsModel.length" ng-class="cardProductsLabel.length < 1 ? 'hidden-chip' : '' ">
                        {{cardProductsLabel}}
                        <div class="clear-filter" ng-click="clearCardProductsFilter()">x</div>
                    </div>
                </div>
            </div>

            <div class="header-datas" ng-show="headerDataFuture">
            	<div class="date-wrapper">
        			<p>Período</p>
        		    <div class="date future">
        		    	{{expected.tomorrow}} {{soldSummarie.month}} à {{expected.lastDay}} {{soldSummarie.month}}
        		   	</div>
            	</div>
                <div class="chip-wrapper">
                    <div class="chip" ng-show="accountsModel.id"> conta: {{accountsLabel}} </div>
                    <div class="chip" ng-show="chipShop" ng-class="shopsLabel.length < 1 ? 'hidden-chip' : '' "> {{shopsLabel[0].label}} <span ng-if="shopsLabel.length > 1">+ {{shopsLabel.length - 1}} estabelecimento<span ng-if="shopsLabel.length > 2">s</span></span>
                        <div class="clear-filter" ng-click="clearShopFilter()">x</div>
                    </div>
                    <div class="chip" ng-show="chipCardProduct" ng-class="cardProductsLabel.length < 1 ? 'hidden-chip' : '' "> {{cardProductsLabel[0].label}} <span ng-if="cardProductsLabel.length > 1">
						+ {{cardProductsLabel.length - 1}} outra<span ng-if="cardProductsLabel.length > 2">s</span> </span>
                        <div class="clear-filter" ng-click="clearCardProductsFilter()">x</div>
                    </div>
                </div>
            </div>

            <div class="numbers-data" ng-show="bigNumbers">
                <ul>
                    <li> <strong>total vendido</strong>
                        <br> R$ <span class="big-number"> {{ soldSummarie.payedAmount | currency: "" }} </span> </li>
                    <li class="math-symbol"> <strong>-</strong> </li>
                    <li class="discount"> <strong>total descontado</strong>
                        <br> R$ <span class="big-number">{{ soldSummarie.discountAmount | currency: ""}}</span> </li>
                    <li class="math-symbol"> <strong>+</strong> </li>
                    <li class="addition"> <strong>total antecipado</strong>
                        <br> R$ <span class="big-number"> {{soldSummarie.antecipatedTotal | currency: ""}}</span> </li>
                    <li class="math-symbol"> <strong>=</strong> </li>
                    <li> <strong>total recebido</strong>
                        <br> R$ <span class="big-number">{{ soldSummarie.payedAmount - soldSummarie.discountAmount + soldSummarie.antecipatedTotal | currency: ""}}</span> </li>
                </ul>
            </div>
            <table ng-repeat="acquirer in receipts" id="receipts_table">
                <thead>
                    <tr>
                        <th class="except">
                        <th>{{ acquirer.name | uppercase }}</th>
                        <th></th>
                        <th>valor total: {{ acquirer.balanceAmount | currency }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="group">
                        <th></th>
                        <th>lançamento</th>
                        <th>valor líquido (R$)</th>
                        <th></th>
                    </tr>
                </tbody>
                <tbody ng-repeat="cardProduct in acquirer.cardProducts">
                    <tr>
                        <th class="except"></th>
                        <th>
                        <div class="cardFlag brand_{{cardProduct.id}}"></div> {{ cardProduct.name }} </th>
                        <th> {{ cardProduct.balanceAmount | currency }} </th>
                        <!-- receipts_details -->
                        <th><a ng-click="showDetails(acquirer, cardProduct)">detalhes</a></th>
                    </tr>
                    <!--  loop de vendas cancelamentos e ajustes  -->
                    <tr class="inset" ng-class="e.type == 'cancelamentos' || e.type == 'ajustes' ? 'discount' : '' " ng-repeat="e in cardProduct.releases track by $index">
                        <th></th>
                        <th class="inset-1">{{ e.type }}</th>
                        <th>{{e.payedAmount | currency}} </th>
                        <th></th>
                    </tr>
                </tbody>
                <tr class="group" ng-show="chipOtherPaiments">
                    <th></th>
                    <th>outros lançamentos</th>
                    <th>{{receipts.otherPayments.value | currency}}</th>
                    <th><a href="#/receipts/details">detalhes</a></th>
                </tr>
                <tbody ng-repeat="op in receipts.otherPayments" ng-show="chipOtherPaiments">
                    <tr class="discount">
                        <th class="except"></th>
                        <th> {{ op.otherDescription }} </th>
                        <th> {{op.otherAmount | currency}} </th>
                        <th></th>
                    </tr>
                </tbody>
                <tr class="group">
                    <th></th>
                    <th>pagamentos não recebidos</th>
                    <th>{{receipts.expectedPayments.value | currency}}</th>
                    <th><a href="#/receipts/details">detalhes</a></th>
                </tr>
                <tbody ng-repeat="ep in receipts.expectedPayments">
                    <tr>
                        <th class="except"></th>
                        <th>
                            <div class="cardFlag brand_{{ep.cardProductId}}"></div> {{ ep.cardProductName }} </th>
                        <th> {{ep.expectedAmount | currency}} </th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
            <!--
		<div class="conclusion">
			<div class="page-title">
				conciliação financeira
			</div>
			<ul>
				<li>
					<input type="checkbox">
					Confirmo o recebimento de <strong>R$ 40.000,00 </strong> na conta corrente de número <strong>9898 98989-2</strong> banco <strong>itaú</strong> no dia 24/08/2016
				</li>
				<li>
					<input type="checkbox">
					Reportar erro no recebimento do valor informado.
				</li>
			</ul>
		</div>
		-->
        </article>
        <rc-disclaimer></rc-disclaimer>
</section>
