<script type="text/ng-template" id="comprovanteVenda.html"></script>

<section class="receiptsExpectedDetails" id="receiptsDetails">

	<div id="detailsClose">
		<div class="container">
			<h3>recebimentos | detalhes</h3>
			<button ng-click="back()">x</button>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="receiptsTopSeparator"></div>

	<article class="data-cards">
		<div class="header-datas">
			<div class="date">
				<span class="number">{{ day }}</span>
				<span class="month">{{ month }}</span>
			</div>
			<div class="chip-wrapper only-chip-on-header">
				<div class="chip" ng-if="accountsLabel">
					{{ accountsLabel }}
				</div>
				<div class="chip" ng-if="shops">
					{{ shopsLabel }}
				</div>
			</div>
		</div>
	</article>

	<ul class="wrapperAcquirerSummary">
		<li class="acquirer">{{ acquirer.name }}</li>
		<li class="cardProduct">
			<div class="cardFlag brand_{{cardProduct.cardProductId}}"></div>
			<span>{{cardProduct.cardProductName}}</span>
		</li>
		<li class="totalValue">
			<span class="valor-liquido">total recebido</span>
			<div class="value">
				<span>R$</span>
				<span class="totalDiscounted">{{ total | currency : '' }}</span>
			</div>
		</li>
	</ul>




	<!-- action buttons -->
    <!--
	<div class="actionButtons">
		<div id="printDivButton" class="hiddenExplanationDiv upButton"
				ng-class="{closed: !printhover}"
				ng-mouseenter="printhover = true"
				ng-mouseleave="printhover = false"
			>
			<button>
				<i class="sprite sprite-doc"></i>
			</button>
			<h4>imprimir página(s)</h4>
		</div>
		<div id="exportDivButton" class="hiddenExplanationDiv"
				ng-class="{closed: !exporthover}"
				ng-mouseenter="exporthover = true"
				ng-mouseleave="exporthover = false">
			<button>
				<i class="sprite sprite-doc_close"></i>
			</button>
			<h4>exportar arquivo excel</h4>
		</div>
	</div>
    -->

	<div id="primaryContent">
		<div id="details">
			<tabset>
				<tab heading="{{tabs[0].title}}" active="tabs[0].active" select="changeTab(0)" id="botaoConciliacaoDiaTour">
					<article>
						<table class="table sortTable">
							<thead>
								<tr>
									<th ng-click="sortResults($event,'date', 'sales')">data/hora venda</th>
									<th ng-click="sortResults($event,'transaction.nsu', 'sales')">nsu</th>
									<th ng-click="sortResults($event,'transaction.tid', 'sales')">tid</th>
									<th ng-click="sortResults($event,'transaction.gross', 'sales')">valor total transação</th>
									<th ng-click="sortResults($event,'transaction.net', 'sales')">valor líquido pago</th>
									<th ng-click="sortResults($event,'number', 'sales')">nº parcela</th>
									<th ng-click="sortResults($event,'transaction.pvCode', 'sales')">nº estabelecimento<!--<span class="orderby"></span>--></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in salesData">
									<td>{{ item.date | utc | date: 'dd/MM/yyyy HH:mm' }}</td>
									<td>{{ item.transactionNsu }}</td>
									<td>{{ item.transactionTid ? item.transactionTid : '-' }}</td>
									<td>R$ {{ item.transactionGross | currency:'' }}</td>
									<td>R$ {{ item.installmentPayedAmount | currency:'' }}</td>
									<td>parcela {{ item.installmentNumber }}/{{ item.installment }}</td>
									<td>{{ item.transactionPvCode }}</td>
								</tr>
							</tbody>
						</table>
						<span class="alert" ng-show="!salesData.length">Não existem dados/registros para o filtro selecionado</span>
						<div class="optionsWrapper">
							<div class="selectWrapper">
								<label for="totalItensPage">resultados por página</label>
								<div class="select">
									<select ng-model="salesTotalItensPage" ng-change="totalItensPageChangedSales()" id="totalItensPage">
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="50">50</option>
									</select>
								</div>
							</div>

							<div class="paginationWrapper">
								<pagination
									total-items="salesTotalItens"
									ng-model="salesCurrentPage"
									ng-change="pageChangedSales()"
									max-size="maxSize"
									items-per-page="salesTotalItensPage"
									rotate="false"
									class="pagination-sm"
									boundary-links="false"
									previous-text="&lsaquo;"
									next-text="&rsaquo;"
									first-text="&laquo;"
									last-text="&raquo;">
								</pagination>
							</div>
						</div>
					</article>
				</tab>


				<tab heading="{{tabs[1].title}}" active="tabs[1].active" select="changeTab(1)" id="botaoConciliacaoDiaTour">
					<article>
						<table class="table sortTable">
							<thead>
								<tr>
									<th ng-click="sortResults($event,'payedDate', 'adjusts')">data do ajuste</th>
									<th ng-click="sortResults($event,'amount', 'adjusts')">valor do ajuste</th>
									<th ng-click="sortResults($event,'description', 'adjusts')">descrição do ajuste</th>
									<th ng-click="sortResults($event,'roNumber', 'adjusts')">número do lote (rv)</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in adjustsData">
									<td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
									<td>R$ {{ item.adjustAmount | currency: '' }}</td>
									<td>{{ item.adjustDescription }}</td>
									<td>{{ item.adjustRoNumber }}</td>
								</tr>
							</tbody>
						</table>
						<span class="alert" ng-show="!adjustsData.length">Não existem dados/registros para o filtro selecionado</span>
						<div class="optionsWrapper">
							<div class="selectWrapper">
								<label for="totalItensPage">resultados por página</label>
								<div class="select">
									<select ng-model="adjustsTotalItensPage" ng-change="totalItensPageChangedAdjusts()" id="totalItensPage">
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="50">50</option>
									</select>
								</div>
							</div>

							<div class="paginationWrapper">
								<pagination
									total-items="adjustsTotalItens"
									ng-model="adjustsCurrentPage"
									ng-change="pageChangedAdjusts()"
									max-size="maxSize"
									items-per-page="adjustsTotalItensPage"
									rotate="false"
									class="pagination-sm"
									boundary-links="false"
									previous-text="&lsaquo;"
									next-text="&rsaquo;"
									first-text="&laquo;"
									last-text="&raquo;">
								</pagination>
							</div>
						</div>
					</article>
				</tab>

				<tab heading="{{tabs[2].title}}" active="tabs[2].active" select="changeTab(2)" id="botaoConciliacaoDiaTour">
					<article>
						<table class="table sortTable">
							<thead>
								<tr>
									<th ng-click="sortResults($event,'transactionDate', 'cancellation')">data da venda</th>
									<th ng-click="sortResults($event,'transactionGross', 'cancellation')">valor total da transação</th>
									<th ng-click="sortResults($event,'transactionCancellationAmount', 'cancellation')">valor total do cancelamento</th>
									<th ng-click="sortResults($event,'amount', 'cancellation')">valor do débito</th>
									<th ng-click="sortResults($event,'transactionNsu', 'cancellation')">nsu</th>
									<th ng-click="sortResults($event,'transactionCardNumber', 'cancellation')">nº do cartão<!--<span class="orderby"></span>--></th>
									<th ng-click="sortResults($event,'transactionAuthorization', 'cancellation')">código de autorização</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in cancellationsData">
									<td>{{ item.date | date: 'dd/MM/yyyy h:mma' }}</td>
									<td>R$ {{ item.transactionGross | currency:'' }}</td>
									<td>R$ {{ item.adjustCancellationAmount | currency:'' }}</td>
									<td>R$ {{ item.adjustAmount | currency:'' }}</td>
									<td>{{ item.adjustNsu }}</td>
									<td>{{ item.adjustCardNumber}}</td>
									<td>{{ item.adjustAuthorization }}</td>
								</tr>
							</tbody>
						</table>
						<span class="alert" ng-show="!cancellationsData.length">Não existem dados/registros para o filtro selecionado</span>
						<div class="optionsWrapper">
							<div class="selectWrapper">
								<label for="totalItensPage">resultados por página</label>
								<div class="select">
									<select ng-model="cancellationsTotalItensPage" ng-change="totalItensPageChangedCancellations()" id="totalItensPage">
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="50">50</option>
									</select>
								</div>
							</div>

							<div class="paginationWrapper">
								<pagination
									total-items="cancellationsTotalItens"
									ng-model="cancellationsCurrentPage"
									ng-change="pageChangedCancellations()"
									max-size="maxSize"
									items-per-page="cancellationsTotalItensPage"
									rotate="false"
									class="pagination-sm"
									boundary-links="false"
									previous-text="&lsaquo;"
									next-text="&rsaquo;"
									first-text="&laquo;"
									last-text="&raquo;">
								</pagination>
							</div>
						</div>
					</article>
				</tab>

				<!--
				<tab heading="{{tabs[3].title}}" active="tabs[3].active" select="changeTab(3)" id="botaoConciliacaoDiaTour">
					<article>
						Ecommerce
					</article>
				</tab>
				-->
			</tabset>
		</div>
	</div>
  	<rc-disclaimer></rc-disclaimer>
</section>
