<script type="text/ng-template" id="comprovanteVenda.html"></script>

<section class="receiptsExpectedDetails" id="receiptsDetails">

	<div id="detailsClose">
		<div class="container">
			<h3>recebimentos antecipados | detalhes</h3>
			<button ng-click="back()"><i class="itauicon-itaufonts_fechar close-modal"></i></button>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="receiptsTopSeparator"></div>

	<article class="data-cards">
		<div class="header-datas">
			<div class="date">
				<span class="number">{{ day }}</span>
				<span class="month">{{ month }}</span>
			</div>
			<div class="chip-wrapper only-chip-on-header">
				<div class="chip" ng-if="accountsLabel">
					{{ accountsLabel }}
				</div>
				<div class="chip" ng-if="shops">
					{{ shopsLabel }}
				</div>
			</div>
		</div>

	</article>

	<ul class="wrapperAcquirerSummary">
		<li class="acquirer">{{ acquirer.name }}</li>
		<li class="cardProduct"><div class="cardFlag brand_{{cardProduct.cardProductId}}"></div> {{ cardProduct.cardProductName | capitalize }}</li>
		<li class="totalValue">
			<span class="valor-liquido">total liquido antecipado</span>
			<div class="value">
				<span>R$</span>
				<span class="totalDiscounted">{{ cardProduct.total | currency: "" }}</span>
			</div>
		</li>
	</ul>

	<div id="primaryContent">
		<div id="details">
			<article>
				<table class="table sortTable gray-header">
					<thead>
						<tr>
							<th ng-click="sortResults($event,'roDate')">data do lote (RV)</th>
							<th ng-click="sortResults($event,'expectedAmount')">total bruto antecipado</th>
							<th ng-click="sortResults($event,'forethoughtFee')">custo de antecipação</th>
							<th ng-click="sortResults($event,'payedAmount')">total liquido antecipado</th>
							<th ng-click="sortResults($event,'roNumber')">número do lote (RV)</th>
						</tr>
					</thead>
					<tbody>
						<tr class="tableAntecipated" ng-repeat="item in forethought">
							<td>{{ item.roDate | date }}</td>
							<td>{{ item.expectedAmount | currency }}</td>
							<td>{{ item.forethoughtFee | currency }}</td>
							<td>{{ item.payedAmount | currency }}</td>
							<td>{{ item.roNumber }}</td>
						</tr>
					</tbody>
				</table>
				<span class="alert" ng-show="!forethought.length">Não existem dados/registros para o filtro selecionado</span>
				<div class="optionsWrapper">
					<div class="selectWrapper">
						<label for="totalItensPage">resultados por página</label>
						<div class="select">
							<select ng-model="totalItensPage" ng-change="pageChanged()" id="totalItensPage">
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="50">50</option>
							</select>
						</div>
					</div>
					<div class="paginationWrapper">
						<ul uib-pagination
							total-items="totalItens"
							ng-model="currentPage"
							ng-change="pageChanged()"
							max-size="maxSize"
							items-per-page="currentSize"
							rotate="false"
							class="pagination-sm"
							boundary-links="false"
							previous-text="&lsaquo;"
							next-text="&rsaquo;"
							first-text=" "
							last-text=" ">
						</ul>
					</div>
				</div>
			</article>
		</div>
	</div>
  	<rc-disclaimer></rc-disclaimer>
</section>
