<div id="redirectPage">
    <section id="redirectBlock">
        <section id="heading">
            <img src="assets/img/logo_controlrede.png" alt="Control Rede" />
        </section>
        <!--<h1 ng-bind="redirectMessage"></h1>-->
        <div id="accessValidating">
            <img src="assets/img/loading01.png" alt="carregando..." />
            <h1>validando o acesso...</h1>
            <p>aguarde um momento</p>
        </div>
        <div id="error" class="hidden">
            <img src="assets/img/error01.png" alt="erro" />
            <h1>não foi possível conectar</h1>
            <p>você será redirecionado ao portal para logar novamente</p>
        </div>
    </section>
</div>