<div>
    <div class="container filter">
        <div class="col-xs-12">
            <h2>utilize os campos abaixo para filtrar sua busca</h2>
        </div>
        <div class="col-xs-4">
            <rc-datepicker-v2
                    date="vm.dateModel.date"
                    range="false"
                    max-date="vm.filterMaxDate"
                    label="'data'"
                    status-type="'conciliated-sales'">
            </rc-datepicker-v2>
        </div>
        <div class="col-xs-4">
            <rc-multiselect label="'adquirente'" model="vm.acquirersModel" data="vm.acquirersData" placeholder="'todos os adquirentes'" single-selection="2"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <rc-multiselect label="'número do estabelecimento'" tooltip-text="'somente estabelecimentos que possuem ao menos uma transação processada aparecem na listagem'" model="vm.pvsModel" data="vm.pvsData" group-by="acquirerId" placeholder="'todos os estabelecimentos'" single-selection="2" search-filter="vm.acquirersFilterExpression"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <rc-multiselect label="'terminal'" model="vm.terminalsModel" data="vm.terminalsData" placeholder="'todos os terminais'" single-selection="2"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <rc-multiselect label="'bandeira'" model="vm.cardProductsModel" data="vm.cardProductsData" placeholder="'todas as bandeiras'" single-selection="2"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <input type="submit" value="buscar" class="btn btn-primary btn-block" ng-href='#here' ng-click="vm.getSales()" />
        </div>
    </div>

    <div class="container box" id="salesConciliatedAnchor">
        <div class="content-header">
            <div class="row">
                <div class="col-xs-2 date">
                    <p class="day">{{vm.dateModel.day}}</p>
                    <p class="month">{{vm.dateModel.monthName}}</p>
                </div>
                <div class="col-xs-10">
                    <rc-chips>
                        <rc-chip label="vm.terminalLabel" show="vm.chipsConfig.show.terminals" closeable="vm.chipsConfig.closeable" on-clear="vm.resetFilter('terminals')" tooltip-text="vm.terminalFullLabel"></rc-chip>
                        <rc-chip label="vm.cardProductLabel" show="vm.chipsConfig.show.cardProducts" closeable="vm.chipsConfig.closeable" on-clear="vm.resetFilter('cardProducts')" tooltip-text="vm.cardProductFullLabel"></rc-chip>
                        <rc-chip label="vm.pvLabel" show="vm.chipsConfig.show.pvs" closeable="vm.chipsConfig.closeable" on-clear="vm.resetFilter('pvs')" tooltip-text="vm.pvFullLabel"></rc-chip>
                        <rc-chip label="vm.acquirerLabel" show="vm.chipsConfig.show.acquirers" closeable="vm.chipsConfig.closeable" on-clear="vm.resetFilter('acquirers')" tooltip-text="vm.acquirerFullLabel"></rc-chip>
                        <div class="clearfix"></div>
                    </rc-chips>
                </div>
            </div>
        </div>
        <div class="container">
            <rc-timeline
                    css-class="'success'"
                    label-initial-value="'quantidade de vendas conciliadas'"
                    label-final-value="'quantidade de vendas a conciliar'"
                    initial-value="vm.timelineModel.concilied"
                    final-value="vm.timelineModel.toReconcile"
                    total-value="vm.timelineModel.total"
                    label-total-value="'Total de vendas'"
                    monetary-values="false" ></rc-timeline>
        </div>
    </div>

    <div ng-include="'app/views/includes/tables/sales-table.html'"></div>
</div>
