<div class="container filter">
    <div class="col-xs-12">
        <h2>utilize os campos abaixo para filtrar sua busca</h2>
    </div>
    <div class="col-xs-4">
        <rc-datepicker-v2
                date="date"
                range="false"
                max-date="filterMaxDate"
                label="'data'">
        </rc-datepicker-v2>
    </div>
    <div class="col-xs-4">
        <rc-multiselect label="'terminal'" model="terminalsModel" data="terminalsData" placeholder="'selecione a conta'" single-selection="2"> </rc-multiselect>
    </div>
    <div class="col-xs-4">
        <rc-multiselect label="'bandeira'" model="cardProductsModel" data="cardProductsData" placeholder="'selecione a conta'" single-selection="2"> </rc-multiselect>
    </div>
    <div class="col-xs-4">
        <rc-multiselect label="'número do estabelecimento'" model="pvsModel" data="pvsData" placeholder="'selecione a conta'" single-selection="2"> </rc-multiselect>
    </div>
    <div class="col-xs-4">
        <rc-multiselect label="'adquirente'" model="acquirersModel" data="acquirersData" placeholder="'selecione a conta'" single-selection="2"> </rc-multiselect>
    </div>
    <div class="col-xs-4">
        <input type="submit" value="buscar" class="btn btn-primary btn-block" ng-href='#here' ng-click="getReceipt()" />
    </div>
</div>