<div class="modal-header">
    <h3 class="modal-title">
        <span class="modal-header-text">conciliar vendas</span>
    </h3>
</div>
<div>
    <div class="modal-body">
        <p>Você deseja {{reconcileType}} {{count}} vendas?</p>
    </div>
    <div class="modal-footer">
        <div class="modal-button">
            <button class="btn btn-cancel btn-block" ng-click="cancel()">não, cancelar</button>
        </div>
        <div class="modal-button">
            <button class="btn btn-primary" ng-click="confirm()">sim, conciliar vendas</button>
        </div>
    </div>
</div>
