<div class="container filter">
    <div class="col-xs-12">
        <h2>utilize os campos abaixo para filtrar sua busca</h2>
    </div>
    <div class="col-xs-4">
        <rc-datepicker-v2
                date="date"
                range="false"
                max-date="filterMaxDate"
                label="'data'">
        </rc-datepicker-v2>
    </div>
    <div class="col-xs-4">
        <rc-multiselect label="'terminal'" model="terminalsModel" data="terminalsData" placeholder="'selecione os terminais'" single-selection="2"> </rc-multiselect>
    </div>
    <div class="col-xs-4">
        <rc-multiselect label="'bandeira'" model="cardProductsModel" data="cardProductsData" placeholder="'selecione as bandeiras'" single-selection="2"> </rc-multiselect>
    </div>
    <div class="col-xs-4">
        <rc-multiselect label="'número do estabelecimento'" model="pvsModel" data="pvsData" placeholder="'selecione os estabelecimentos'" single-selection="2"> </rc-multiselect>
    </div>
    <div class="col-xs-4">
        <rc-multiselect label="'adquirente'" model="acquirersModel" data="acquirersData" placeholder="'selecione os adquirentes'" single-selection="2"> </rc-multiselect>
    </div>
    <div class="col-xs-4">
        <input type="submit" value="buscar" class="btn btn-primary btn-block" ng-href='#here' ng-click="getReceipt()" />
    </div>
</div>

<div class="container ">
<rc-timeline
        css-class="'success'"
        label-initial-value="'quantidade de vendas a conciliar'"
        label-final-value="'quantidade de vendas conciliadas'"
        initial-value="4320"
        final-value="1200"
        total-value="5520"
        label-total-value="'Total de vendas'"
        monetary-values="false"
        time-line-percentage="10" ></rc-timeline>
</div>