<div>
    <div class="container filter">
        <div class="col-xs-12">
            <h2>utilize os campos abaixo para filtrar sua busca</h2>
        </div>
        <div class="col-xs-4">
            <rc-datepicker-v2
                    date="dateModel.date"
                    range="false"
                    max-date="filterMaxDate"
                    label="'data'">
            </rc-datepicker-v2>
        </div>
        <div class="col-xs-4">
            <rc-multiselect label="'terminal'" model="terminalsModel" data="terminalsData" placeholder="'todos os terminais'" single-selection="2"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <rc-multiselect label="'bandeira'" model="cardProductsModel" data="cardProductsData" placeholder="'todas as bandeiras'" single-selection="2"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <rc-multiselect label="'número do estabelecimento'" model="pvsModel" data="pvsData" placeholder="'todos os estabelecimentos'" single-selection="2"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <rc-multiselect label="'adquirente'" model="acquirersModel" data="acquirersData" placeholder="'todos os adquirentes'" single-selection="2"> </rc-multiselect>
        </div>
        <div class="col-xs-4">
            <input type="submit" value="buscar" class="btn btn-primary btn-block" ng-href='#here' ng-click="getSales()" />
        </div>
    </div>

    <div class="container box" style="padding-bottom: 1.5em !important">
        <div class="content-header">
            <div class="date">
                <span class="number">{{dateModel.day}}</span>
                <br>{{dateModel.monthName}}
            </div>
            <rc-chips>
                <rc-chip label="terminalLabel" show="chipsConfig.show.terminals" closeable="chipsConfig.closeable" on-clear="resetFilter('terminals')" tooltip-text="terminalFullLabel"></rc-chip>
                <rc-chip label="cardProductLabel" show="chipsConfig.show.cardProducts" closeable="chipsConfig.closeable" on-clear="resetFilter('cardProducts')" tooltip-text="cardProductFullLabel"></rc-chip>
                <rc-chip label="pvLabel" show="chipsConfig.show.pvs" closeable="chipsConfig.closeable" on-clear="resetFilter('pvs')" tooltip-text="pvFullLabel"></rc-chip>
                <rc-chip label="acquirerLabel" show="chipsConfig.show.acquirers" closeable="chipsConfig.closeable" on-clear="resetFilter('acquirers')" tooltip-text="acquirerFullLabel"></rc-chip>
                <div class="clearfix"></div>
            </rc-chips>
            <div class="clearfix"></div>
        </div>
        <div class="container">
            <rc-timeline
                    label-initial-value="'quantidade de vendas a conciliar'"
                    label-final-value="'quantidade de vendas conciliadas'"
                    initial-value="timelineModel.toReconcile"
                    final-value="timelineModel.concilied"
                    total-value="timelineModel.total"
                    label-total-value="'Total de vendas'"
                    monetary-values="false" ></rc-timeline>
        </div>
    </div>

    <div ng-include="'app/views/includes/tables/sales-table.html'"></div>
</div>