<section id="conciliacao" class="vendas">
	<ol class="breadCrumb">
		<li>você está em:</li>
		<li><a href="#/home">home</a></li>
		<li><a href="#/sales">vendas</a></li>
	</ol>

	<div class="date">
		<h2>
			<time datetime="nov/2013">{{monthSelected}} {{yearSelected}}</time>
		</h2>
	</div>

	<br />
	 <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>

	<!-- calendar init -->
	<div id="calendarioVendasTour" class="selectCalendar">
	    <div class="selectCalendarWrapper">
			<a class="prev" href="javascript:void(0);" ng-click="prevYear()">{{yearSelected - 1}}</a>
			<a class="next" href="javascript:void(0);" ng-click="nextYear()">{{yearSelected + 1}}</a>
			<div class="slider">
				<div>
					<tabset>
						<tab ng-repeat="month in months" active="month.active" data-ng-click="changeMonth($index, month.year); tabs[0].active = true">
							<tab-heading>
								<span ng-class="{'conciliar': month.toReconcile, 'naoConciliado': month.toProcess,
									'conciliado': month.concilied && !month.toReconcile && !month.toProcess}" class="oneItem">
									{{month.month}}
								</span>
							</tab-heading>
							<ul>
								<li ng-class="{'conciliar': day.toReconcile, 'naoConciliado':day.toProcess,
									'conciliado': day.concilied && !day.toReconcile && !day.toProcess, 'ativo': day.isActive}" ng-repeat="day in days" class="oneItem">
                                    <a 	ng-class="{'ativoSemConsiliacao': !day.concilied && !day.toReconcile && !day.toProcess, 'disabled': !day.isActiveButton}" ng-show="day.show" data-ng-click="changeDay(day); tabs[1].active = true">
										{{day.day}}
									</a>
								</li>
							</ul>
						</tab>
					</tabset>
				</div>
			</div>
		</div>
	</div>
	<!-- calendar end -->

	<!-- indicatiors init -->
	<ul class="conciliationIndicators">
		<li class="toConciliate" ng-class="{'active': statusSelected == 0}">
			<a href="javascript:void(0);" ng-click="updateFilterByStatus(0)">
				<div class="legend">
					<p>vendas a conciliar</p>
				</div>
				<div class="value">
					<p>{{totalToReconcileForDay}}</p>
				</div>
			</a>
		</li>
		<li class="conciliated" ng-class="{'active': statusSelected == 1}">
			<a href="javascript:void(0);" ng-click="updateFilterByStatus(1)">
				<div class="legend">
					<p>vendas conciliadas</p>
				</div>
				<div class="value">
					<p>{{totalConciliedForDay}}</p>
				</div>
			</a>
		</li>
		<li class="toProcess" ng-class="{'active': statusSelected == 2}">
			<a href="javascript:void(0);" ng-click="updateFilterByStatus(2)">
				<div class="legend">
					<p>vendas não processadas</p>
				</div>
				<div class="value">
					<p>{{totalToProcessForDay}}</p>
				</div>
			</a>
		</li>
	</ul>
	<!-- indicatiors end -->

	<div id="primaryContent">

		<div class="tabsWrapper">
			<ul class="tabsList">
				<li><a href="">Rede</a></li>
			</ul>
			<div class="tabsContainer">
				<div class="tabItem" id="resumoMes">
					<div class="hiddenContentWrapper">
						<a id="advancedButton" href="javascript:void(0);" onclick="javascript:toggle();" class="active">filtrar</a>
						<div class="hiddenContent advancedFilterHiddenContent" style="display: block;">
							<form>
								<fieldset>
									<div class="">
									</div>
									<ul>
										<span>
										<!-- loja -->
											<li class="full">
												<div class="">
													<!-- <label for="natureza">tipo de transação</label> -->
													<ul class="child" id="transactionType">
														<li>
															<label for="naturezaTodas">todas</label>
															<input id="naturezaTodas" name="natureza" type="radio"
																value="0" ng-model="natureza"/>
														</li>
														<li>
															<label for="naturezaDebito">vendas a débito</label>
															<input id="naturezaDebito" name="natureza" type="radio"
																value="DEBIT" ng-model="natureza"/>
														</li>
														<li>
															<label for="naturezaCredito">vendas a crédito</label>
															<input id="naturezaCredito" name="natureza" type="radio"
																value="CREDIT" ng-model="natureza"/>
														</li>
														<br />
													</ul>
												</div>
												<ul class="grandChild halfWidthList left half">
													<li>
														<label for="buscaTerminal" class="ico-pre-input itauicon-itaufonts_para_empresa"></label>
														<input id="buscaTerminal" name="buscaSettlement" type="text" placeholder="{{getPlaceholder(settlementsSelected)}}"
															ng-model="settlement" typeahead-on-select="addSettlementsSearch(settlement)"
														typeahead="item as item.code for item in getSettlements() | filter:$viewValue" />
														<label for="buscaTerminal" class="ico-after-input itauicon-itaufonts_busca_consulta"></label>

														<ul class="selectecWrapper">
															<li ng-repeat="item in settlementsSelected">
															<h4>{{item.code}}</h4>
															<a href="javascript:void(0);" ng-click="removeSettlementsSearch(item)">Fechar</a></li>
														</ul>
														<!--
														<span ng-show="additionalInformations == false">
															O FILTRO DE LOJA NÃO PODE SER APLICADO ÀS VENDAS NÃO PROCESSADAS, DEVIDO A LIMITAÇÃO DE SUA INTEGRAÇÃO.
														</span>
														-->
													</li>
												</ul>
												<ul class="grandChild halfWidthList">
													<li>
														<label for="naturezaProduto" class="ico-pre-input itauicon-itaufonts_cartao"></label>
														<input id="naturezaProduto" name="naturezaProduto" type="text" placeholder="{{getPlaceholderFlag(productsSelected)}}"
															ng-model="product" typeahead-on-select="addProductsSearch(product)"
															typeahead="item as item.name for item in getProducts() | filter:$viewValue"/>
															<label for="naturezaProduto" class="ico-after-input itauicon-itaufonts_busca_consulta"></label>
														<ul class="selectecWrapper">
															<li ng-repeat="item in productsSelected"><h4>{{item.name}}</h4><a href="javascript:void(0);" ng-click="removeProductsSearch(item)">Excluir</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<br />
										</span>
										<br />
									</ul>

									<div class="submitButtons">
										<input type="submit" ng-click="clearFilter()" value="limpar"/>
										<input type="submit" ng-click="search()" value="filtrar"/>
									</div>
								</fieldset>
							</form>
						</div>
					</div>

					<div id="details" class="sales salesTable">
						<table cellpadding="0" cellspacing="0">
						  <thead>
							  <tr class="taleft">
								  <th width="380">
									  bandeira / tipo de venda
								  </th>
								  <th width="300">
									  quantidade de vendas
								  </th>
								  <th>
									  total (R$)
								  </th>
							  </tr>
						  </thead>
						  <tbody id="cupomVendasTour" class="taleft cursor_pointer" ng-show="items">
							  <tr ng-repeat="item in items" ng-class-odd="'odd'">
								  <td>
									  <div class="checkbox card-favourite">
									  	<div class="checkbox-left" ng-if="item.conciliationStatus == 'TO_CONCILIE'">
											<!--
									  		<input type="checkbox" id="checkbox-favourite-{{$index + 1}}" class="checkbox"
											ng-model="concilieItems" name="selectedItems[]" value="{{item.ids}}"
											ng-checked="selection.indexOf(item) > -1" ng-click="selectItemToConcilie(item.ids)" />
											-->
											<input type="checkbox" id="checkbox-favourite-{{$index + 1}}" class="checkbox"
											ng-model="concilieItems" name="selectedItems[]" value="{{item.ids}}"
											ng-checked="selection.indexOf(item) > -1" ng-click="selectItemToConcilie(item)" />
									  		<label for="checkbox-favourite-{{$index + 1}}"></label>
									  	</div>
									  	<span class="checkbox-right" ng-click="showDetails(item.acquirer, item.cardProduct)">{{item.cardProduct.name}}</span>
									  </div>
								  </td>
								  <td ng-click="showDetails(item.acquirer, item.cardProduct)">{{item.quantity}}</td>
								  <td ng-click="showDetails(item.acquirer, item.cardProduct)">{{item.amount | currency:''}}</td>
							  </tr>
						  </tbody>
					  </table>
					  <span class="alert" ng-show="noItensMsg">Não existem dados/registros para o filtro selecionado</span>
					  <div class="footer">
						  <div class="buttonWrapper" ng-show="(statusSelected == 0) && items">
							  <button class="conciliacaoButton" data-ng-click="concilie()"
							  		  ng-class="isConcilieButtonActive ? 'active' : 'disabled'"
									  ng-disabled="!isConcilieButtonActive">conciliar {{ concilieQuantity }} venda<span ng-if="concilieQuantity > 1">s</span> selecionada<span ng-if="concilieQuantity > 1">s</span></button>
						  </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<rc-disclaimer></rc-disclaimer>
	</div>
</section>
