<section class="card">
    <div class="row">
        <div class="col-xs-2 date">
            <p class="day">{{vm.dateModel.day}}</p>
            <p class="month">{{vm.dateModel.monthName}}</p>
        </div>
        <div class="col-xs-10">
            <rc-chips>
                <rc-chip label="vm.terminalLabel" show="vm.chipsConfig.show.terminals" closeable="false" on-clear="vm.resetFilter('terminals')" tooltip-text="vm.terminalFullLabel"></rc-chip>
                <rc-chip label="vm.cardProductLabel" show="vm.chipsConfig.show.cardProducts" closeable="false" on-clear="vm.resetFilter('cardProducts')" tooltip-text="vm.cardProductFullLabel"></rc-chip>
                <rc-chip label="vm.pvLabel" show="vm.chipsConfig.show.pvs" closeable="false" on-clear="vm.resetFilter('pvs')" tooltip-text="vm.pvFullLabel"></rc-chip>
                <rc-chip label="vm.acquirerLabel" show="vm.chipsConfig.show.acquirers" closeable="false" on-clear="vm.resetFilter('acquirers')" tooltip-text="vm.acquirerFullLabel"></rc-chip>
                <div class="clearfix"></div>
            </rc-chips>
        </div>
    </div>
    <div class="subheader shadow-top">
        <div class="row">
            <div class="col-xs-2 acquirer push-down">
                {{ vm.transaction.acquirer.name | uppercase }}
            </div>
            <div class="col-xs-1 push-down">
                <div class="card-product brand-{{ vm.transaction.cardProduct.id }}">{{ vm.transaction.cardProduct.name }}</div>
            </div>
            <div class="col-xs-2 push-down">
                {{ vm.transaction.cardProduct.name | lowercase }}
            </div>
            <div class="col-xs-3">
                <p>quantidade de vendas</p>
                <p class="value positive">{{ vm.transaction.quantity }}</p>
            </div>
            <div class="col-xs-3">
                <p>total de vendas</p>
                <p class="value positive"><small>R$</small>{{ vm.transaction.amount | currency: "" }}</p>
            </div>
        </div>
    </div>

    <table class="table primary details" ng-show="items.length">
        <colgroup>
            <col width="8%" />
            <col width="10%" />
            <col width="8%" />
            <col width="12%" />
            <col width="10%" />
            <col width="14%" />
            <col width="8%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
                <th class="checkbox-header">
                    <div class="checkbox">
                        <div class="checkbox-left">
                            <input type="checkbox" id="checkbox-reconcile-all" class="checkbox" ng-checked="detailSelection.allChecked" ng-click="toggleCheckboxAll()">
                            <label for="checkbox-reconcile-all"></label>
                        </div>
                    </div>
                </th>
                <th class="alignl">tipo loja</th>
                <th class="alignl">data/hora</th>
                <th class="alignl">nsu</th>
                <th class="alignl">cód. aut.</th>
                <th class="alignr">valor bruto transação</th>
                <th class="alignl">MDR</th>
                <th class="alignl">n&ordm; parcelas</th>
                <th class="alignl">n&ordm; do lote(rv)</th>
                <th class="alignl">tid</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>
                    <div class="checkbox">
                        <div class="checkbox-left">
                            <input type="checkbox" id="checkbox-reconcile-{{$index + 1}}" class="checkbox" ng-checked="detailSelection.checks[item.id]" ng-click="toggleCheckbox(item)">
                            <label for="checkbox-reconcile-{{$index + 1}}"></label>
                        </div>
                    </div>
                </td>
                <td class="alignl">e-commerce</td>
                <td class="alignl">{{ item.date | date: 'dd/MM' }} {{ item.hour | limitTo: 5 }}</td>
                <td class="alignl">{{ item.nsu }}</td>
                <td class="alignl">{{ item.authorization }}</td>
                <td class="alignr">{{ item.gross | currency: 'R$ ' }}</td>
                <td class="alignl">{{ item.percentFee }}%</td>
                <td class="alignl">{{ item.installment }}</td>
                <td class="alignl">{{ item.roNumber }}</td>
                <td class="alignl">{{ (item.tid || "-") }}</td>
            </tr>
        </tbody>
    </table>

    <div class="panel panel-default">
        <div class="panel-body">
            <rc-pagination
                results-per-page-model="resultsPerPage"
                results-page-model="resultsPageModel"
                results-pagination-total-itens="resultsTotalItens"
                max-size="maxSize"
                on-change="updatePagination">
            </rc-pagination>

            <div class="col-md-offset-9 col-md-3 reconcile-button">
                <rc-count-button label-prefix="'conciliar'" label-suffix="detailSelection.labelSuffix" item-count="detailSelection.count" on-click="reconcileItems()"></rc-count-button>
            </div>
        </div>
    </div>
</section>
