<section class="relatorio ajustes">

    <div class="date">
        <h2>relatório ajustes</h2>
    </div>

	<br />

    <div uib-alert ng-repeat="alert in alerts" ng-class="{{alert.type}}">{{alert.msg}}</div>

    <div id="primaryContent">
        <div id="details" class="sales box">
            <div id="relatorio_financeiro">
                <div class="hiddenContentWrapper">
                    <a id="advancedButton" class="advancedButton active" href="javascript:void(0);" onclick="javascript:toggleReport();">filtrar</a>
                    <div class="hiddenContentReport advancedFilterHiddenContent" style="display:block;">
                        <article class="filter">
                            <form>
                                <fieldset>
                                    <ul class="filterList">
                                        <li>
                                            <ul>
                                                <li>
                                                    <input type="text" class="disabled input-date"
                                                        uib-datepicker-popup="{{format}}" ng-model="initialDate" is-open="openFirstFinanceiro"
                                                        readonly="true" datepicker-options="dateOptions" ng-required="true" ng-change="ChangeInitialDate(initialDate)"
                                                        close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openFirstFinanceiro = true" datepicker-append-to-body="false" />
                                                </li>
                                                <li>
                                                    <label for="" class="at">Até</label>
                                                    <input type="text" class="disabled input-date"
                                                        uib-datepicker-popup="{{format}}" ng-model="finalDate" is-open="openLastFinanceiro"
                                                           readonly="true" datepicker-options="dateOptions" ng-required="true" ng-change="ChangeFinalDate(finalDate)"
                                                        close-text="Fechar" clear-text="Limpar" current-text="Data atual" ng-click="openLastFinanceiro = true" style="background:transparent;margin-left:-30px;padding-left:40px!important;" datepicker-append-to-body="false" />
                                                </li>
                                  </ul>
                                </li>
                                <br />
                              </ul>
                                </fieldset>
                                <div class="submitButtons">
                                    <input type="submit" ng-click="clearFilter()" value="limpar">
                                    <input type="submit" ng-click="search()" value="filtrar">
                                </div>
                                <br/>
                              </form>
                        </article>
                    </div>
                </div>

        		<table cellpadding="0" cellspacing="0" class="sortTable" ng-show="items.length">
        			<thead>
        				<tr class="taleft">
        					<th width="200" ng-click="sortResults($event,'payedDate')">data do débito/crédito</th>
                            <th width="200" ng-click="sortResults($event,'roDate')">data do ajuste</th>
        					<th width="200" ng-click="sortResults($event,'description')">descrição</th>
                            <th width="200" ng-click="sortResults($event,'acquirer.name')">adquirente</th>
        					<th ng-click="sortResults($event,'amount')">valor (R$)</th>
        				</tr>
        			</thead>
        			<tbody id="cupomVendasTour">
        				<tr ng-repeat="item in items" ng-class-odd="'odd'">
        					<td>{{item.payedDate | date: 'dd/MM/yyyy'}}</td>
                            <td>{{item.roDate | date: 'dd/MM/yyyy'}}</td>
                        	<td>{{item.description}}</td>
                            <td>{{item.acquirer.name}}</td>
                        	<td>{{item.amount | customCurrency:""}}</td>
        				</tr>
        			</tbody>
        		</table>
                <span class="alert" ng-show="noItensMsg">Não existem dados/registros para o filtro selecionado</span>
        	    <div class="footer" ng-show="items.length">
					<div class="optionsWrapper">
						<div class="selectWrapper">
							<label for="totalItensPage">resultados por página</label>
							<div class="select">
                                <select ng-model="totalItensPage"
                                    ng-change="totalItensPageChanged()"
                                    ng-options="option for option in totalItensPageOptions"
                                    id="totalItensPage">
                                </select>
							</div>
						</div>

						<div class="paginationWrapper">
							<ul uib-pagination total-items="totalItens" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" items-per-page="totalItensPage" rotate="false" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
							</ul>
						</div>
					</div>
				</div>
        	</div>
        </div>
    </div>
</section>
