<h1>Kaplen</h1>
<form id="loginForm">
	<label>Olá {{user.name}}</label>
	<br />
	<label ng-if="validate">{{message}}</label>
	<label for="senha1">Digite a nova senha.</label>
    <input id="senha1" type="password" ng-model="user.password" required/>
    <label for="senha2">digite novamente</label>
    <input id="senha2" type="password" ng-model="password" required/>    
    <button ng-click="redefinirSenha()" ng-disabled="loginForm.$invalid">Alterar</button>
    <button ng-if="success" ng-click="login()">Entrar</button>
</form>