<!DOCTYPE html >
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:ng="http://angularjs.org" ng-app="KaplenWeb" lang="pt-BR" >
<!--<![endif]-->

<head>
    <!-- <base href="/controlrede/"> -->
    <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
        }</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rede - Conciliador</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="app/css/normalize.min.css?v=0.0.1">
    <!-- start not login -->
    <link rel="stylesheet" href="app/css/bootstrap.min.css?v=0.0.1">
    <link rel="stylesheet" href="app/css/main.css?v=0.0.1">
    <!-- end not login -->
    <link rel="stylesheet" href="app/css/angular-chart.min.css?v=0.0.1">
    <link rel="stylesheet" href="app/css/loading-bar.css?v=0.0.1">
    <link rel="stylesheet" href="app/css/bootstrap-tour-standalone.min.css?v=0.0.1">
    <!-- start login -->
    <link rel="stylesheet" href="app/css/login/main.css">
    <!-- end login -->
    <script type="text/javascript" src="app/libs/angular.js"></script>
    <script type="text/javascript" src="app/libs/angular-route.min.js"></script>
    <script type="text/javascript" src="app/libs/lodash.js"></script>
    <!--<script type="text/javascript" src="app/libs/lodash.min.js"></script>-->
    <script type="text/javascript" src="app/libs/restangular.js"></script>
    <script type="text/javascript" src="app/libs/angular-locale-pt-br.js"></script>
    <script type="text/javascript" src="app/libs/loading-bar.js"></script>
    <script type="text/javascript" src="app/libs/angular-cache.min.js"></script>
    <script type="text/javascript" src="app/libs/angular-sanitize.js"></script>
    <script type="text/javascript" src="app/libs/angular-animate.js"></script>
    <script type="text/javascript" src="app/libs/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="app/libs/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="app/libs/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="app/libs/main.js"></script>
    <script type="text/javascript" src="app/libs/angular-file-upload.js"></script>
    <script type="text/javascript" src="app/libs/angular-file-saver.js"></script>
    <script type="text/javascript" src="app/libs/fileSaver.js"></script>
    <script type="text/javascript" src="app/libs/blob.js"></script>
    <script type="text/javascript" src="app/libs/angular-resource.js"></script>
    <script type="text/javascript" src="app/libs/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="app/libs/moment-timezone.min.js"></script>
    <script type="text/javascript" src="app/libs/masks.min.js"></script>
    <script type="text/javascript" src="app/libs/dateparser.js"></script>
    <!-- Patch para ui-bootstrap-tpls-0.11.0.min -->
    <script type="text/javascript" src="app/libs/highcharts-ng.js"></script>
    <script type="text/javascript" src="app/libs/highcharts.js"></script>
    <script type="text/javascript" src="app/libs/Chart.min.js"></script>
    <script type="text/javascript" src="app/libs/angular-chart.min.js"></script>
    <script type="text/javascript" src="app/libs/bootstrap-tour-standalone.min.js"></script>
    <script type="text/javascript" src="app/libs/angularjs-dropdown-multiselect.min.js"></script>
    <script type="text/javascript" src="app/js/componente/convertCurrency.js"></script>
    <script type="text/javascript" src="app/js/componente/calculateSizeChart.js"></script>
    <script type="text/javascript" src="app/js/componente/maxSizePagination.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartVendasMes.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartTiposVendas.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartOperadora.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartComparativoVendasMes.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartRelatorio.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartGestao.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartTipoVendaConciliacao.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartRecebimentosVisaoReport.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartSettlementRanking.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartVendasReport.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartVendasVisoes.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartVendasAnaliticasReport.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartVendasAnaliticasDiasReport.js"></script>
    <script type="text/javascript" src="app/js/componente/pieChartVendasAnaliticasSemanasReport.js"></script>
    <script type="text/javascript" src="app/js/componente/chartUtils.js"></script>
    <!-- Configuração do ambiente  -->
    <script type="text/javascript" src="app/scripts/app.js"></script>
    <!-- Controllers Angular -->
    <script type="text/javascript" src="app/scripts/controllers/dashboardController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/loginController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/firstAccessController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/salesDetailsController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/movementsModule.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/salesController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/movementsTaxController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/movementsReceiptController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/gestaoController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/relatorioController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/relatorioVendasController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/relatorioFinanceiroController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/relatorioAjustesController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/relatorioChargebacksController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/taxaAdministracaoController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/userManager.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/settlementManager.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/terminalsManager.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/envioEmailController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/optionsManager.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/menuManager.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/helpController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/integrationController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/receiptsController.js"></script>
    <script type="text/javascript" src="app/scripts/controllers/receiptsDetailsController.js"></script>
    <!-- services -->
    <script type="text/javascript" src="app/scripts/service/dashboardService.js"></script>
    <script type="text/javascript" src="app/scripts/service/loginService.js"></script>
    <script type="text/javascript" src="app/scripts/service/resumoConciliacaoService.js"></script>
    <script type="text/javascript" src="app/scripts/service/transactionsService.js"></script>
    <script type="text/javascript" src="app/scripts/service/cartaCancelamentoService.js"></script>
    <script type="text/javascript" src="app/scripts/service/movementsService.js"></script>
    <script type="text/javascript" src="app/scripts/service/relatorioService.js"></script>
    <script type="text/javascript" src="app/scripts/service/kaplenAdminService.js"></script>
    <script type="text/javascript" src="app/scripts/service/settlementService.js"></script>
    <script type="text/javascript" src="app/scripts/service/terminalService.js"></script>
    <script type="text/javascript" src="app/scripts/service/userService.js"></script>
    <script type="text/javascript" src="app/scripts/service/installmentsService.js"></script>
    <script type="text/javascript" src="app/scripts/service/cacheService.js"></script>
    <script type="text/javascript" src="app/scripts/service/taxaAdministracaoService.js"></script>
    <script type="text/javascript" src="app/scripts/service/integrationService.js"></script>
    <script type="text/javascript" src="app/scripts/service/advancedFilterService.js"></script>
    <script type="text/javascript" src="app/scripts/service/optionsService.js"></script>
    <script type="text/javascript" src="app/scripts/service/utilities/calendarService.js"></script>
    <script type="text/javascript" src="app/scripts/service/filtersService.js"></script>
    <script type="text/javascript" src="app/scripts/service/receiptsService.js"></script>
    <script type="text/javascript" src="app/scripts/service/v1/api/service/FinancialService.js"></script>
    <script type="text/javascript" src="app/scripts/service/v1/api/filter/FinancialFilter.js"></script>
    <script type="text/javascript" src="app/scripts/service/v1/api/service/MovementSummaryService.js"></script>
    <script type="text/javascript" src="app/scripts/service/v1/api/filter/MovementSummaryFilter.js"></script>
    <script type="text/javascript" src="app/scripts/service/v1/api/service/AdjustSummaryService.js"></script>
    <script type="text/javascript" src="app/scripts/service/v1/api/service/TransactionSummaryService.js"></script>
    <script type="text/javascript" src="app/scripts/service/v1/api/service/TransactionService.js"></script>
    <script type="text/javascript" src="app/scripts/service/v1/api/service/TransactionConciliationService.js"></script>
    <!-- directives -->
    <script type="text/javascript" src="app/scripts/directives/rc-disclaimer/rc-disclaimer.js"></script>
    <script type="text/javascript" src="app/scripts/directives/rc-multiselect/rc-multiselect.js"></script>
    <script type="text/javascript" src="app/scripts/directives/rc-datepicker/rc-datepicker.js"></script>
    <!-- factories -->
    <script type="text/javascript" src="app/scripts/factories/requestFactory.js"></script>
    <!-- tours -->
    <script type="text/javascript" src="app/tours/dashboard/dashboardTour.js"></script>
    <script type="text/javascript" src="app/tours/resumoConciliacao/resumoConciliacaoTour.js"></script>
    <script type="text/javascript" src="app/tours/resumoConciliacao/resumoConciliacaoAnaliticoTour.js"></script>
    <script type="text/javascript" src="app/tours/resumoConciliacao/modalResumoConciliacaoTour.js"></script>
    <script type="text/javascript" src="app/tours/financeiro/financeiroTour.js"></script>
    <script type="text/javascript" src="app/tours/gestao/gestaoTour.js"></script>
    <script type="text/javascript" src="app/tours/financeiro/financeiroAnaliticoTour.js"></script>
    <script type="text/javascript" src="app/tours/financeiro/modalFinanceiroTour.js"></script>
    <!-- video -->
    <script src="app/libs/videogular.min.js"></script>
    <script src="app/libs/vg-controls.min.js"></script>
    <script src="app/libs/vg-overlay-play.min.js"></script>
    <script src="app/libs/vg-poster.min.js"></script>
    <script src="app/libs/vg-buffering.min.js"></script>
</head>

<body id="{{bodyId}}" ng-class="{'newHeaderAndFooter': !initialized}" ng-cloak>
    <!--[if lt IE 7]>
	<p class="chromeframe">Você está utilizando um browser <strong>desatualizado</strong>. Por favor, <a href="http://browsehappy.com/">atualize o seu browser</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">ative o Google Chrome Frame</a> para melhorar a sua experiência.</p>
<![endif]-->
    <!--[if lte IE 9]>
  	<script>
  		window.location.href = "app/views/oldbrowser.html"
  	</script>
<![endif]-->
    <!--[if IE]>
	<style>
		header li a {padding-bottom: 32px !important;}
	</style>
<![endif]-->
    <!-- Loader template -->
    <div class="extended">
        <header ng-if="initialized">
            <nav class="navbar navbar-default" id="mainNav">
                <div class="container">
                    <div class="navbar-header">
                        <a href="#/home" class="navbar-brand">
                            <h1>Control Rede</h1> </a>
                    </div>
                    <div class="collapse navbar-collapse" id="app-navbar" ng-show="initialized && !firstAccess">
                        <ul class="nav navbar-nav navbar-right">
                            <li> <a href="#/home" ng-class="{'active': activeDashboard}">home</a> </li>
                            <li class="dropdown"> 
                                <a href="#/sales" ng-class="{'active': activeResumoConciliacao}">
									vendas
								</a>
                            </li>
                            
                            <li> 
                                <a href="#/integration" ng-class="{'active': activeIntegration}" role="button" aria-haspopup="true" aria-expanded="false">
                                    integração
                                </a> 
                            </li>
                            <li> <a href="#/receipts" ng-class="{'active': activeMovements}">recebimentos</a> </li>
                            <li class="dropdown"> <a href="#/relatorio/vendas" ng-class="{'active': activeReports}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									relatórios <span class="caret"></span>
								</a>
                                <ul class="dropdown-menu">
                                    <li> <a href="#/relatorio/vendas" ng-class="{'active': activeReportsSales}">vendas</a> </li>
                                    <li> <a href="#/relatorio/ajustes" ng-class="{'active': activeReportsAdjustments}">tarifas e ajustes</a> </li>
<!--                                    <li> <a href="#/relatorio/financeiro" ng-class="{'active': activeReportsFinancial}">financeiro</a> </li>-->
                                    <li> <a href="#/relatorio/chargebacks" ng-class="{'active': activeReportsChargebacks}">cancelamentos e chargebacks</a> </li>
                                </ul>
                            </li>
                            <li class="help"> <a href="/#/help" class="itauicon-itaufonts_ajuda">ajuda</a> </li>
                            <li class="logout"> <a ng-click="logout()" href="javascript:void(0);" class="itauicon-itaufonts_desbloqueio">sair</a> </li>
                            <hr /> </ul>
                    </div>
                </div>
            </nav>
        </header>
        <header ng-if="!initialized">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header"> <img class="logo-svg" src="https://www.userede.com.br/Paginas/portal2016/images/logo-rede.svg" alt="Rede Itaú" itemprop="logo" width="120" height="39"> </div>
                    <!-- nossos produtos -->
                    <div class="col-md-4 col-sm-4 col-xs-12 col-collapse">
                        <!-- Collapse -->
                        <div id="navbar-rede" class="navbar-collapse collapse" aria-expanded="false">
                            <!-- Menu Dropdown -->
                            <ul class="nav navbar-nav">
                                <!-- Produtos -->
                                <li id="dropdown-produtos" class="dropdown dropdown-produtos-gtm-trigger dynamic-image-dropdown">
                                    <a href="#" id="ourProductsButton" class="dropdown-toggle dropdown-produtos-gtm-trigger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nossos produtos</a>
                                    <!-- Dropdown container -->
                                    <ul class="dropdown-menu dropdown-menu-produtos">
                                        <!-- Links -->
                                        <div class="col-links">
                                            <ul>
                                                <div class="ul-title">Solução mobile</div>
                                                <li><a href="https://www.userede.com.br/nossos-produtos/mobile-rede/">Maquininha para celular</a></li>
                                            </ul>
                                            <ul>
                                                <div class="ul-title">Soluções para lojas físicas</div>
                                                <li><a href="https://www.userede.com.br/nossos-produtos/maquininha-sem-fio/">Maquininha sem fio</a></li>
                                                <li><a href="https://www.userede.com.br/nossos-produtos/maquininha-com-fio/">Maquininha com fio</a></li>
                                            </ul>
                                            <ul>
                                                <div class="ul-title">Soluções para lojas online</div>
                                                <li><a href="https://www.userede.com.br/nossos-produtos/redepay/">Rede Pay</a></li>

                                                <li><a href="https://www.userede.com.br/nossos-produtos/e-rede/">e.Rede</a></li>

                                            </ul>
                                            <ul>
                                                <div class="ul-title">
                                                    Grandes empresas
                                                </div>
                                                <li><a href="https://www.userede.com.br/nossos-produtos/leitor-de-cartao-pin-pad/">Leitor Pin Pad</a></li>
                                            </ul>
                                            
                                            <ul>
                                                <div class="ul-title">
                                                    <a href="https://www.userede.com.br/nossos-produtos/"><span>Todos os produtos</span></a>
                                                </div>
                                            </ul>
                                        </div>
                                        <!-- End Links -->
                                    </ul>
                                    <!-- End Dropdown container -->
                                </li>
                                <!-- End Produtos -->
                                <!-- Tipos Negócio -->
                                <!-- End Tipos Negócio -->
                            </ul>
                            <!-- End Nav Right -->
                        </div>
                        <!-- End Collapse -->
                    </div>

                    <!-- nossos produtos -->





                </div>
            </nav>
        </header>
        <div ng-view></div>
    </div>
    <footer ng-if="initialized">
        <p>Rede 2016 - Todos os direitos reservados</p>
    </footer>
    <footer ng-if="!initialized" class="container-fluid clearfix">
        <div class="container">
            <div class="row">
                <nav class="navbar">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <ul class="nav navbar-nav">
                            <div class="ul-title">
                                <p class="hidden-xs"><a title="Nossos produtos" href="https://www.userede.com.br/nossos-produtos/" class="hidden-xs lnk-todos-produtos-footer">Nossos produtos</a></p>
                            </div>
                            <div class="collapse navbar-collapse" id="footer-collapse-1">
                                <li><a data-gtm-attr="mobile-rede" class="lnk-produto-footer" href="https://www.userede.com.br/nossos-produtos/mobile-rede/" title="Maquininha para celular">Maquininha para celular</a> </li>
                                <li><a data-gtm-attr="maquininha-sem-fio" class="lnk-produto-footer" href="https://www.userede.com.br/nossos-produtos/maquininha-sem-fio/" title="Maquininha sem fio">Maquininha sem fio</a> </li>
                                <li><a data-gtm-attr="maquininha-com-fio" class="lnk-produto-footer" href="https://www.userede.com.br/nossos-produtos/maquininha-com-fio/" title="Maquininha com fio">Maquininha com fio</a> </li>
                                <li><a data-gtm-attr="Rede Pay" class="lnk-produto-footer" href="https://www.userede.com.br/nossos-produtos/redepay/" title="Rede Pay">Rede Pay</a> </li>
                                <li><a data-gtm-attr="e.Rede" class="lnk-produto-footer" href="https://www.userede.com.br/nossos-produtos/e-rede/" title="E.Rede">e.Rede</a> </li>
                                <li><a data-gtm-attr="terminal-pinpad" class="lnk-produto-footer" href="https://www.userede.com.br/nossos-produtos/leitor-de-cartao-pin-pad/" title="Terminal Pinpad">Leitor Pin pad</a> </li>
                                <li><a data-gtm-attr="preco-unico" class="lnk-produto-footer" href="https://www.userede.com.br/nossos-produtos/preco-unico/" title="Preço Único">Preço Único</a> </li>
                                <li><a href="https://www.userede.com.br/nossos-produtos/" class="lnk-todos-produtos-footer" title="Todos os produtos">Todos os produtos</a> </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <ul class="nav navbar-nav">
                            <div class="ul-title">
                                <p class="hidden-xs"> <a title="Ajuda" data-gtm-attr="" href="https://www.userede.com.br/atendimento/" class="lnk-ajuda-footer hidden-xs">Ajuda</a></p>
                            </div>
                            <div class="collapse navbar-collapse" id="footer-collapse-3">
                                <li><a data-gtm-attr="-FAQ" class="lnk-ajuda-footer" href="https://www.userede.com.br/atendimento/" title="Tire dúvidas (FAQ)">Tire dúvidas (FAQ)</a> </li>
                                <li><a data-gtm-attr="-fale-conosco" class="lnk-ajuda-footer" href="https://www.userede.com.br/atendimento/fale-conosco/" title="Fale conosco">Fale conosco</a> </li>
                                <li><a data-gtm-attr="-atendimento" class="lnk-ajuda-footer" href="https://www.userede.com.br/atendimento/" title="Canais de atendimento">Canais de atendimento
                                    </a> </li>
                                <li><a data-gtm-attr="-downloads-documentos" class="lnk-ajuda-footer" href="https://www.userede.com.br/atendimento/documentos/" title="Downloads de documentos">Downloads de documentos</a> </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <ul class="nav navbar-nav">
                            <div class="ul-title">
                                <p class="hidden-xs lnk-informacoes-footer"><a data-gtm-attr="informacoes" title="Informações" href="https://www.userede.com.br/nossos-beneficios/" class="lnk-informacoes-footer hidden-xs">Informações</a></p>
                            </div>
                            <div class="collapse navbar-collapse" id="footer-collapse-4">
                                <li><a class="lnk-informacoes-footer" data-gtm-attr="vantagens" href="https://www.userede.com.br/nossos-beneficios/" title="Vantagens">Vantagens</a> </li>
                                <li><a class="lnk-sobre-rede-footer" href="https://www.userede.com.br/rede/" title="Sobre a Rede">Sobre a Rede</a> </li>
                                <li><a href="https://www.userede.com.br/rede/relacoes-investidores/" title="Relações com investidores">Relações com investidores</a> </li>
                                <li><a class="lnk-dicas-seguranca-footer" href="https://www.userede.com.br/rede/dicas-seguranca/" title="Dicas de segurança">Dicas de segurança</a> </li>
                                <li><a href="https://www.userede.com.br/rede/termos-de-uso/" title="Termos de uso e política de privacidade">Termos de uso e política de privacidade</a> </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="apps-container">
                            <p>Baixe o aplicativo da Rede</p>
                            <div class="apps">
                                <a data-gtm-attr="googleplay" href="https://play.google.com/store/apps/details?id=br.com.userede" target="_blank" title="Disponível no Google Play" class="btn-app-download app-google"></a>
                                <a data-gtm-attr="appstore" href="https://itunes.apple.com/br/app/rede/id1020661630?mt=8" target="_blank" title="Disponível na App Store" class="btn-app-download app-apple"></a>
                            </div>
                        </div>
                        <div class="social clearfix">
                            <p class="ul-title social-title">Siga-nos</p>
                            <div class="social-icons">
                                <div class="icon facebook">
                                    <a data-gtm-attr="facebook" class="btn-social-media" href="https://www.facebook.com/UseRede/" target="_blank" title="Facebook"></a>
                                </div>
                                <div class="icon twitter">
                                    <a data-gtm-attr="twitter" class="btn-social-media" href="https://twitter.com/userede" target="_blank" title="Twitter"></a>
                                </div>
                                <div class="icon youtube">
                                    <a data-gtm-attr="youtube" class="btn-social-media" href="https://www.youtube.com/user/redecardbrasil" target="_blank" title="Youtube"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </footer>
    <div id="blockr" class="fade" ng-show="loading"></div>
</body>

</html>
