<!DOCTYPE html >
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:ng="http://angularjs.org" ng-app="Conciliador" lang="pt-BR" >
<!--<![endif]-->

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PK7BZTT');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rede - Conciliador</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/normalize.min.css?v=0.0.1">
    <!-- start not login -->
    <link rel="stylesheet" href="assets/css/main-v2.css?v=0.0.1">
    <!-- end not login -->
    <link rel="stylesheet" href="assets/css/angular-chart.min.css?v=0.0.1">
    <link rel="stylesheet" href="assets/css/loading-bar.css?v=0.0.1">
    <script type="text/javascript" src="app/build.js"></script>
</head>

<body ng-class="{'newHeaderAndFooter': !initialized}" ng-cloak>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PK7BZTT"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--[if lt IE 7]>
	<p class="chromeframe">Você está utilizando um browser <strong>desatualizado</strong>. Por favor, <a href="http://browsehappy.com/">atualize o seu browser</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">ative o Google Chrome Frame</a> para melhorar a sua experiência.</p>
<![endif]-->
    <!--[if lte IE 9]>
  	<script>
  		window.location.href = "oldbrowser.html"
  	</script>
<![endif]-->
    <!--[if IE]>
	<style>
		header li a {padding-bottom: 32px !important;}
	</style>
<![endif]-->
    <!-- Loader template -->


    <div class="v2">
        <div id="loader">
            loading
        </div>
    </div>

    <div id="modalWrapperV1" class="v1"></div>
    <div id="modalWrapperV2" class="v2"></div>
    <div class="v2" ng-if="initialized">
        <rc-disclaimer ng-if="rcDisclaimer.type" type="rcDisclaimer.type" text="rcDisclaimer.text" action-text="rcDisclaimer.actionText" on-click="rcDisclaimer.onClick"></rc-disclaimer>
    </div>
    <div class="v2" ng-if="!hideHeaderAndFooter">
        <header ng-include="'app/views/header.html'" ng-controller="HeaderController as vm" ng-class="{'login': !vm.showMenu, 'modal-blur': $root.modalOpen}"></header>
    </div>
    <div id="migrationContainer" ng-class="{'modal-blur': $root.modalOpen}">
        <div class="extended" {{migrationId}} id="content" ng-class="{'login': !initialized}">
            <div class="v2">
                <rc-breadcrumb></rc-breadcrumb>
                <rc-message ng-repeat="message in rcMessages" type="message.type" text="message.text" href="message.href" action-text="message.actionText" on-click="message.onClick(message.scope)"></rc-message>
                <h1 ng-if="pageTitle" class="page-title">{{pageTitle}}</h1>
            </div>
            <div ng-view class="{{migrationId}}"></div>
        </div>
    </div>
    <div class="v2" ng-if="!hideHeaderAndFooter">
        <footer ng-include="'app/views/footer.html'" ng-controller="FooterController as vm" ng-class="{'modal-blur': $root.modalOpen}"></footer>
    </div>

    <div class="v1">
    <div id="blockr" class="fade" ng-show="loading"></div>
    </div>

</body>

</html>
