<!DOCTYPE html >
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:ng="http://angularjs.org" ng-app="Conciliador" lang="pt-BR" >
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rede - Conciliador</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/normalize.min.css?v=0.0.1">
    <!-- start not login -->
    <link rel="stylesheet" href="assets/css/main-v2.css?v=0.0.1">
    <!-- end not login -->
    <link rel="stylesheet" href="assets/css/angular-chart.min.css?v=0.0.1">
    <link rel="stylesheet" href="assets/css/loading-bar.css?v=0.0.1">
    <script type="text/javascript" src="app/build.js"></script>
</head>

<body ng-class="{'newHeaderAndFooter': !initialized}" ng-cloak>
    <!--[if lt IE 7]>
	<p class="chromeframe">Você está utilizando um browser <strong>desatualizado</strong>. Por favor, <a href="http://browsehappy.com/">atualize o seu browser</a> ou <a href="http://www.google.com/chromeframe/?redirect=true">ative o Google Chrome Frame</a> para melhorar a sua experiência.</p>
<![endif]-->
    <!--[if lte IE 9]>
  	<script>
  		window.location.href = "oldbrowser.html"
  	</script>
<![endif]-->
    <!--[if IE]>
	<style>
		header li a {padding-bottom: 32px !important;}
	</style>
<![endif]-->
    <!-- Loader template -->


    <div class="v2">
        <div id="loader">
            loading
        </div>
    </div>

    <div id="modalWrapperV1" class="v1"></div>
    <div class="v2" ng-if="!hideHeaderAndFooter">
        <header ng-include="'app/views/header.html'" ng-controller="HeaderController as vm" ng-class="{'login': !vm.showMenu, 'modal-blur': $root.modalOpen}"></header>
    </div>
    <div id="migrationContainer">
        <div class="extended" {{migrationId}} id="content" ng-class="{'login': !initialized}">
            <div class="v2">
                <rc-breadcrumb></rc-breadcrumb>
                <rc-message type="'danger'" text="'existem vendas duplicadas'" href="'#'" action-text="'ver detalhes'"></rc-message>
                <h1 ng-if="pageTitle" class="page-title">{{pageTitle}}</h1>
            </div>
            <div ng-view class="{{migrationId}}" ng-class="{'modal-blur': $root.modalOpen}"></div>
        </div>
    </div>
    <div class="v2" ng-if="!hideHeaderAndFooter">
        <footer ng-include="'app/views/footer.html'" ng-controller="FooterController as vm" ng-class="{'modal-blur': $root.modalOpen}"></footer>
    </div>
    <div id="blockr" class="fade" ng-show="loading"></div>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72916551-2', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</body>

</html>
