<div class="page-header">
	<ol class="breadCrumb">
        <li>você está em:</li>
        <li><a href="#/dashboard">home</a></li>
        <li><a href="#/integration">integração</a></li>
    </ol>
	<div class="page-title">
		<div class="title">integração</div>
		<ul>
			<li><a href="app/files/manual-de-integracao-control-rede.pdf" download><span class="rules"></span>veja as regras para envio do seu arquivo</a><i>
			<li><a href="app/files/arquivo-modelo-integracao-control-rede.csv" download><span class="download"></span>download arquivo modelo</a></li>
		</ul>

	</div>
</div>
<section id="integration">
	<article class="upload-file-wrapper">
		<h2>selecione a opção desejada:</h2>
		<ul>
			<li>
				<div class="bullet" ng-click="showSendFile(); sendFile = !sendFile;" ng-class="{clicked: sendFile}"></div><span class="title" ng-click="showSendFile(); sendFile = !sendFile;">enviar arquivos com minhas vendas</span>
				<aside ng-show="sendFile">
					<label class="findfile" for="sendfile" ng-show="labelFindFile">
						localizar arquivo csv
					</label>
					<input type="file" accept=".csv" id="sendfile" nv-file-select uploader="uploader" />

					<span ng-repeat="item in uploader.queue" ng-show="inProgress">
		                <label class="findfile" ng-bind="item.file.name" for="sendfile" ng-click="addOther()"></label>
		            </span>
		            <button ng-click="uploader.uploadAll()" class="submit" ng-class="{disabled: !inProgress}">enviar</button>
				</aside>
			</li>
			<li>
				<div class="bullet"
					 ng-click="getUploadedFiles(true); uploadedFiles = !uploadedFiles;"
					 ng-class="{clicked: uploadedFiles}">
				</div>
				<span class="title" ng-click="getUploadedFiles(true); uploadedFiles = !uploadedFiles;">consultar arquivos enviados</span>
				<aside ng-show="uploadedFiles">
					<input class="findfile" placeholder="localizar arquivo pelo nome" ng-model="fileSearch">
					<button class="submit" ng-click="getUploadedFiles(true)">buscar</button>
					<table class="filesTable sortTable">
						<thead>
							<tr>
								<th ng-click="sortResults($event,'fileName')">nome do arquivo <!--<i class="orderby"></i>--></th>
								<th ng-click="sortResults($event,'fileLength')">tamanho do arquivo <!--<i class="orderby"></i>--></th>
								<th ng-click="sortResults($event,'createDate')">data e hora de envio <!--<i class="orderby"></i>--></th>
								<th ng-click="sortResults($event,'message')">situação do arquivo <!--<i class="orderby"></i>--></th>
							</tr>
						</thead>
						<tbody ng-repeat="item in listUploadedFiles">
							<tr>
								<td>{{ item.fileName }}</td>
								<td>{{ item.size / 1024 | number: 2 }} MB</td>
								<td>{{ item.createDate | date: "dd/MM/yyyy 'às' HH:mm" }}</td>
								<td>{{ item.message }}</td>
							</tr>
						</tbody>
					</table>
					<div class="footer footer-integration">
						<div class="optionsWrapper">
							<div class="selectWrapper">
								<label for="totalItensPage">resultados por página</label>
								<div class="select">
									<select ng-model="totalItensPage" ng-change="totalItensPageChanged()" id="totalItensPage">
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="50">50</option>
									</select>
								</div>
							</div>

							<div class="paginationWrapper">
								<pagination total-items="totalItens" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" items-per-page="totalItensPage" rotate="false" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
								</pagination>
							</div>
						</div>
					</div>
				</aside>
			</li>
			<li>
				<div class="bullet" ng-click="showDownloadFiles(); downloadFiles = !downloadFiles" ng-class="{clicked: downloadFiles}"></div><span class="title" ng-click="showDownloadFiles(); downloadFiles = !downloadFiles">download do arquivo de recebimento</span>
				<aside class="filters-download-file" ng-show="downloadFiles">
					<div class="filter">
						<rc-multiselect label="'tipo de relatório'" model="typeModel" data="typeData" single-selection="1"> </rc-multiselect>
					</div>
					<div class="filter">
						<rc-datepicker class="halfSize" date="initialDate" label="'data inicial'" max-date="initialMaxDate" min-date="initialMinDate"></rc-datepicker>
					</div>
					<div class="filter">
						<rc-datepicker class="halfSize" date="finishDate" label="'data final'" max-date="finishMaxDate" min-date="initialDate">
						</rc-datepicker>
					</div>
					<div class="filter">
						<span>
							<button class="submit" ng-click="downloadFile()">download</button>
						</span>
					</div>
				</aside>
			</li>
		</ul>
	</article>

</section>
