<section id="conciliacao" class="relatorio listConfig">
  <hgroup>
    <h2>{{title}}</h2>
  </hgroup>
  <br />
  <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>
  <div id="primaryContent"> 
  <article class="filter">
  <form name="newUser" novalidate> 
  <ul>
  	<li>
	  	<label>Nome:</label>
	  	<input type="text" required ng-model="usuario.name">
	</li>
	<li>
	  	<label>E-mail:</label>
	  	<input type="text" required ng-model="usuario.email">
	</li>
	<li>          
    	<label>Permissão *</label>
    	<select required ng-model="usuario.permissionUser.role" >
    	  	<option value="">Selecione a permissão</option>              
        	<option value="ROLE_ADMIN">Administrador</option>
       		<option value="ROLE_USER">Simples</option> 
      	</select>         
    </li>     
	<li class="configButtons">
	  	<button ng-click="save()" >Salvar</button>
	  	<button ng-click="returnList()">Voltar</button>
  	</li>
  	<br />
  	</ul>
  	</form>
  	</article>
</section>
